:host {
  display: block;
}

.header-top-bar {
  $min-block-size: 90px;
  min-block-size: $min-block-size;
  min-height: $min-block-size;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--joie-gutter);

  > .logo {
    height: 37px;
  }
  > .search {
    flex-basis: 400px;
  }
  > .user {
    margin-left: auto;
    margin-inline-start: auto;
  }
}
