<form [formGroup]="formGroup">

  <mat-slide-toggle #toggle
                    (click)="handleBlockToggle(remindersFormArray, remindersKeys, toggle)">
    <h3>Session reminders</h3>
  </mat-slide-toggle>

  <div [formArrayName]="REMINDERS"
       class="layout-rows">
    <mat-slide-toggle [formControlName]="i"
                      *ngFor="let setting of remindersFormArray.controls; let i = index">
      <p>{{remindersEnum[remindersKeys[i]]}}</p>
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>

  <mat-slide-toggle #toggle
                    (click)="handleBlockToggle(activityFormArray, activityKeys, toggle)">
    <h3>Account activity</h3>
  </mat-slide-toggle>

  <div [formArrayName]="ACTIVITY"
       class="layout-rows">
    <mat-slide-toggle [formControlName]="i"
                      *ngFor="let setting of activityFormArray.controls; let i = index">
      <p>{{activityEnum[activityKeys[i]]}}</p>
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>

  <mat-slide-toggle #toggle
                    (click)="handleBlockToggle(newsletterFormArray, newsletterKeys, toggle)">
    <h3>Newsletter and promotions</h3>
  </mat-slide-toggle>

  <div [formArrayName]="NEWSLETTER"
       class="layout-rows">
    <mat-slide-toggle [formControlName]="i"
                      *ngFor="let setting of newsletterFormArray.controls; let i = index">
      <p>{{newsletterEnum[newsletterKeys[i]]}}</p>
    </mat-slide-toggle>
  </div>
</form>
