<form [formGroup]="formGroup">

  <section [formGroupName]="convertToKey(block.title)"
           *ngFor="let block of settingBlocks; let i = index">
    <mat-divider *ngIf="i > 0"></mat-divider>
    <div class="toggles-block">

      <span class="layout-flex">
        <h3>{{block.title}}</h3>
        <mat-slide-toggle [checked]="block.allChecked"
                          formControlName="all"
                          (toggleChange)="toggleBlock(convertToKey(block.title))">
        </mat-slide-toggle>
      </span>

      <section *ngFor="let toggle of block.toggles">
        <span class="layout-flex">
          <p>{{toggle.name}}</p>
          <mat-slide-toggle (toggleChange)="
                toggleSlider(convertToKey(block.title),
                convertToKey(toggle.name))"
                            [formControlName]="convertToKey(toggle.name)"
                            [checked]="block.allChecked ? true : toggle.isChecked">
          </mat-slide-toggle>
        </span>
      </section>
    </div>
  </section>
  {{ formGroup.value | json}}
</form>
