# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# Except the test files
test/**/*.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

test/environment-config.ts

# cloud functions
lib
etc
.env
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
