// Access to files through Firebase Storage is completely disallowed.
// Files may still be accessible through Google App Engine or GCS APIs.
service firebase.storage {
  match /b/{bucket}/o {

		function lessThan5Mb() {
    	return request.resource.size < 5 * 1024 * 1024
      	&& request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }

		match /images/{uid}/sessions/{sessionId}/{fileName} {
      allow read: if true;
      allow write: if request.auth.token.teacher == true && request.auth.uid == uid && lessThan5Mb();
    }
  }
}
