// Access to files through Firebase Storage is completely disallowed.
// Files may still be accessible through Google App Engine or GCS APIs.
service firebase.storage {
  match /b/{bucket}/o {

		function lessThan5Mb() {
    	return request.resource.size < 5 * 1024 * 1024
      	&& request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }

		match /images/sessions/{session} {
			match /thumbs/{thumb} {
					allow read: if true;
					// Only allow uploads of any image file that's less than 5MB
					allow write: if lessThan5Mb();
			}
    }
  }
}
