section.my-calendar-section {
  margin-top: 32px;
  height: 560px;
}

.tools-panel {
  width: 480px;
  height: 560px;
  button {
    width: max-content;
    background: none;
    color: blue;
    border: none;
  }
}

.calendar-box {
  width: 480px;
  height: 560px;
}
mat-calendar {
  .scheduled {
    background: aquamarine;
    border-radius: 100%;
  }
}
