<div class="layout-columns-md">
  <div>

    <div>
      <h3>My calendar</h3>
      <mat-divider></mat-divider>


      <mat-list>

        <mat-list-item>
          <button class="text-color-primary"
                  (click)="redirectToNewSession('add')">
            <mat-icon>add</mat-icon>Add a session
          </button>
        </mat-list-item>

        <mat-list-item>
          <button class="text-color-primary"
                  (click)="viewSessionsList()">
            <mat-icon>visibility</mat-icon>View all sessions
          </button>
        </mat-list-item>
      </mat-list>


    </div>
  </div>

  <div class='container'>
    <mat-calendar #calendar
                  [selected]="selectedDate"
                  [startAt]="startAt"
                  (selectedChange)="onSelect($event)"
                  [dateClass]="dateClass()">
    </mat-calendar>
  </div>


</div>
