<div class="container-condense">
  <h4>
    Joie is looking for passionate teachers, experts and coaches who believe in our philosophy, and
    interested in growing together. Fill out this form to help us learn more about you.
  </h4>
  <h3>Personal Information</h3>
</div>

<div class="container-ultra-condense">
  <form [formGroup]="form"
        class="layout-rows-sm"
        autocomplete="on">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput
             type="text"
             placeholder="first name"
             name="first-name"
             formControlName="firstName"
             required />
      <mat-error *ngIf="firstName.invalid">{{onboardingService.showErrorMessage(firstName)}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput
             type="text"
             placeholder="last name"
             name="family-name"
             formControlName="lastName"
             required />
      <mat-error *ngIf="lastName.invalid">{{onboardingService.showErrorMessage(lastName)}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             placeholder="email"
             name="email"
             formControlName="email"
             required />
      <mat-error *ngIf="email.invalid">{{onboardingService.showErrorMessage(email)}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <ngx-mat-intl-tel-input
        [preferredCountries]="['us', 'ca']"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        name="phone"
        formControlName="phone"
        ></ngx-mat-intl-tel-input>
      <mat-error *ngIf="phone.invalid">{{onboardingService.showErrorMessage(phone)}}</mat-error>

    </mat-form-field>

    <button mat-stroked-button
            [disabled]="form.invalid"
            cdkStepperNext>
      Continue
    </button>
  </form>
</div>
