<div class="layout-columns">
  <div>
    <h3>We also send newsletters.</h3>

    <p>
      We stay in touch with our family to give you what you want (what you really, really want).
    </p>
  </div>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="layout-rows-xs">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        formControlName="email"
        autocomplete="email"
        placeholder="Here is my email"
      />
      <mat-hint>Your details will never be shared.</mat-hint>
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="emailForm.invalid" color="accent">
      Submit
    </button>
  </form>
</div>
