<ng-container [formGroup]="form">
  <!-- ! always show this -->
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      [formControlName]="TITLE"
      matInput
      placeholder="e.g. Best session"
      required
      cdkFocusInitial
    />
  </mat-form-field>

  <div class="layout-columns">
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>

      <mat-select required [formControlName]="TYPE">
        <mat-option
          *ngFor="let type of sessionTypeLiteralMap | keyvalue: asIsOrder"
          [value]="type.key"
          >{{ type.value | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="format-options">
      <mat-radio-group
        [formControlName]="FORMAT"
        [disabled]="isCoachingType$ | async"
        name="sessionFormat"
        aria-label="Session Format"
      >
        <mat-radio-button
          *ngFor="let format of sessionFormatLiteralMap | keyvalue: asIsOrder"
          [disabled]="format.key === 'onDemand'"
          [value]="format.key"
        >
          {{ format.value | titlecase }}
        </mat-radio-button>
      </mat-radio-group>
      <div>
        <mat-hint class="mat-caption" *ngIf="isCoachingType$ | async">
          Coaching '<kbd>type</kbd>' auto-sets '<kbd>format</kbd>' to live streaming
        </mat-hint>
      </div>
    </div>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Format</mat-label>
      <mat-select required [disabled]="typeSelectedValue == 'coaching'" [formControlName]="FORMAT">
        <mat-option *ngFor="let format of sessionFormatKeys" [value]="sessionFormatEnum[format]">
          {{ sessionFormatEnum[format] }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>

  <!-- ! show only when type/format chosen -->
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea [formControlName]="DESCRIPTION" matInput placeholder="e.g. Best session"></textarea>
  </mat-form-field>

  <app-image-upload-select (selected)="onImageSelected($event)"></app-image-upload-select>
</ng-container>
