<ng-container *ngIf="!afterSubmit">
  <div>
    <button mat-button mat-flat-button matStepperPrevious>< Back</button>
  </div>
  <div class="container-condense">
    <h3 class="text-center">Your value to our students</h3>
    <p class="text-center">
      Finally, {{(authService.state$ | async)?.displayName }} where do you see your added value to the students?
    </p>
  </div>
  <div class="container-ultra-condense">
    <form *ngIf="!afterSubmit"
          [formGroup]="form"
          class="layout-rows-md">

      <mat-form-field appearance="outline">
        <textarea matInput
                  rows="9"
                  formControlName="addedValue"
                  required></textarea>
        <mat-error *ngIf="addedValue.invalid">{{onboardingService.showErrorMessage(addedValue)}}
        </mat-error>
      </mat-form-field>

      <button mat-flat-button
              color="primary"
              matStepperNext
              (click)="submitFormsData()"
              [disabled]="form.invalid">
        Submit your application
      </button>
    </form>
  </div>

</ng-container>

<ng-container class="container-condense"
              *ngIf="afterSubmit">
  <h2 class="text-color-primary text-center">
    Thank you for submitting your application.</h2>
  <h4 class="text-center">We are excited to review it!</h4>
  <h4 class="text-center">We will contact you shortly.</h4>
  <h4 class="text-center">Meanwhile, visit our <a href="https://blog.joie.co/">blog</a> or our FAQ page to learn more about the spirit of Joie
  </h4>
</ng-container>
