.mat-list-item .feature-icon{
  width: auto;
  height: auto;
}

blockquote {
  text-indent: -0.45em;
  border-left: 2px solid red;
  margin: 0;
}
@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}
