<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Pillars</mat-label>
    <select matNativeControl
            required
            formControlName="pillar">
      <option *ngFor="let pillar of pillarKeys"
              [value]="pillar">{{ pillarEnum[pillar] }}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Levels</mat-label>
    <select matNativeControl
            required
            formControlName="level">
      <option *ngFor="let level of levelKeys"
              [value]="level">{{ levelEnum[level] }}</option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Activities</mat-label>
    <select matNativeControl
            required
            formControlName="activity">
      <option *ngFor="let activity of activityKeys"
              [value]="activity">{{
        activityEnum[activity]
      }}</option>
    </select>
  </mat-form-field>

  <h4>Session goals (add one goal in line)</h4>

  <app-form-array-table [values]="formArrayValues(GOALS)"
                        (remove)="removeControl(goalsFormArray, $event)">
    <app-simple-form-input #goalsSimpleForm
                           (add)="addFormControl(goalsFormArray, $event)"></app-simple-form-input>
    <button mat-icon-button
            slot="suffix"
            color="primary"
            aria-label="Example icon button with a home icon"
            (click)="goalsSimpleForm.submit()">
      <mat-icon aria-hidden="false"
                aria-label="Example home icon"
                slot="suffix">home</mat-icon>
    </button>
  </app-form-array-table>


  <h4>Need to know (add one comment in line)</h4>
  <app-form-array-table [values]="formArrayValues(COMMENTS)"
                        (remove)="removeControl(commentsFormArray, $event)">
    <app-simple-form-input #commentsSimpleForm
                           (add)="addFormControl(commentsFormArray, $event)"></app-simple-form-input>
    <button mat-icon-button
            slot="suffix"
            color="primary"
            aria-label="Example icon button with a home icon"
            (click)="commentsSimpleForm.submit()">
      <mat-icon aria-hidden="false"
                aria-label="Example home icon"
                slot="suffix">home</mat-icon>
    </button>
  </app-form-array-table>

</ng-container>
