<div class="container-condense">
  <h1>What will help you stay motivated?</h1>
  <p>
    We all need diffrent types of support. Joie offers 3 types of learning styles to help you
    persist on your journey, and give you the support you need. Which one describes the best type of
    session for you?
  </p>
</div>

<div class="container-ultra-condense">
  <form [formGroup]="form" class="layout-columns-sm">
    <mat-card *ngFor="let type of sessionTypesLiteralMap | keyvalue: asIsOrder; let i = index">
      <app-icon
        class="joie-icon joie-icon-backdrop size-xxl"
        [name]="sessionTypesData[i].icon"
      ></app-icon>

      <label formArrayName="sessionTypes">
        <input type="checkbox" [formControlName]="i" />
        {{ type.value | titlecase }}
      </label>
    </mat-card>
  </form>
  <mat-error *ngIf="typesFormArray.invalid">{{
    onboardingService.showErrorMessage(typesFormArray)
  }}</mat-error>

  <div class="layout-columns-md">
    <div>
      <p>
        And don't worry! You can always update it later. We have good feeling about this,
        {{ (authService.state$ | async)?.displayName }}!
      </p>
      <button mat-raised-button (click)="finishOnboarding()">
        Now, let's find your first session!
      </button>
    </div>
  </div>
</div>
