<div class="container container-condense">
  <h1>What will help you stay motivated?</h1>
  <p>
    We all need diffrent types of support. Joie offers 3 types of learning styles to help you
    persist on your journey, and give you the support you need. Which one describes the best type of
    session for you?
  </p>
</div>

<div class="container container-ultra-condense">
  <form [formGroup]="formGroup"
        class="layout-grid layout-grid-inline-features layout-spacing-inline-sm">
    <mat-card *ngFor="let type of typesFormArray.controls; let i = index">
      <img src="/assets/images/empowerment.png"
           width="100"
           height="100" />

      <label formArrayName="sessionTypes">
        <input type="checkbox"
               [formControlName]="i" />
        {{ typesEnum[typeKeys[i]] }}
      </label>
    </mat-card>
  </form>

  <div class="layout-grid">
    <button mat-button
            mat-raised-button
            matStepperNext>
      Continue
    </button>

    <a routerLink="/home">
      Skip for now.
    </a>
  </div>
</div>
