<ng-container [formGroup]="form">
  <mat-form-field appearance="outline" floatLabel="never">
    <mat-label>Upsell and promos (optional)</mat-label>
    <input type="text" matInput formControlName="promo" placeholder="e.g. 10% off" />
  </mat-form-field>

  <app-form-array-table [values]="sessionsArrayValues()" (remove)="removeControl($event)">
    <label id="related-label" slot="label">Related sessions (add up to 3)</label>
    <app-simple-form-input
      labelId="related-label"
      #relatedSessionsForm
      [validators]="sfiValidators"
      (submission)="addRelatedSession($event)"
    ></app-simple-form-input>
    <button
      type="button"
      mat-icon-button
      slot="suffix"
      color="primary"
      aria-label="add"
      (click)="relatedSessionsForm.onSubmit()"
    >
      <mat-icon aria-hidden="false" aria-label="add" slot="suffix">add</mat-icon>
    </button>
  </app-form-array-table>
</ng-container>
