<h1>What brings you to Joie?</h1>
<p>
  Setting goal gives you long-term vision and short-term motivation to stay
  focused. We reccomend picking 1-2 pillars to get started. You can explore more
  later.
</p>
<form [formGroup]="formGroup">
  <label formArrayName="goalsCtrl"
         *ngFor="let goal of goalsFormArray.value; let i = index">
    <input type="checkbox"
           [checked]="entry(goal)[1]"
           [formControlName]="i"
           (change)="handleCheck(entry(goal)[0], entry(goal)[1], i)" />
    {{ entry(goal)[0] }}
  </label>

  <button mat-button
          matStepperNext>
    Continue
  </button>

  <button mat-button
          mat-raised-button
          (click)="onboardingService.skipOnboarding()">
    Skip for now.
  </button>
</form>
