<div mat-dialog-title align="end">
  <button mat-icon-button mat-dialog-close>
    <app-icon class="joie-icon size-sm" name="close"></app-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <nav class="layout-rows-xs">
    <ngx-auth-firebaseui-providers [theme]="themes.STROKED" [providers]="[providers.Google]">
    </ngx-auth-firebaseui-providers>
    <ngx-auth-firebaseui-providers [theme]="themes.STROKED" [providers]="[providers.Facebook]">
    </ngx-auth-firebaseui-providers>
  </nav>
  <!--<ngx-auth-firebaseui-login
    [titleText]="titleText"
    [logoUrl]="logoUrl"
    [providers]="['google', 'facebook']"
    [registrationEnabled]="false"
  ></ngx-auth-firebaseui-login>-->
</mat-dialog-content>
