<ng-container *ngIf="afAuth.authState | async; let user; else: showLogin">
  <span>{{ user.displayName }}!</span>

  <button mat-button (click)="logout()">Log out</button>
</ng-container>

<ng-template #showLogin>
  <button
    mat-button
    [routerLink]="[
      {
        outlets: {
          popup: ['auth', 'log-in']
        }
      }
    ]"
  >
    Log in
  </button>
</ng-template>

<!-- <ng-container *ngIf="user$; else loadingBlock">
  <div *ngIf="authFacade.user$ | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
</ng-container>

<ng-template #showLogin>
  <a
    [routerLink]="[
      {
        outlets: {
          popup: ['auth', 'log-in']
        }
      }
    ]"
    >Log in</a
  >
</ng-template>

<ng-template #loadingBlock>
  Loading...
</ng-template> -->
