<ngx-auth-firebaseui-avatar
  layout="simple"
  [canDeleteAccount]="false"
  *ngIf="afAuth.authState | async; else showLogin"
></ngx-auth-firebaseui-avatar>
<!-- <ng-container *ngIf="afAuth.authState | async; let user; else: showLogin">
  <img class="mat-card-avatar" alt="user avatar" width="40" height="40" [src]="user?.photoURL" />

  <span>{{ user?.displayName }}!</span>

  <button mat-button (click)="logout()">Log out</button>
</ng-container> -->

<ng-template #showLogin>
  <button
    mat-button
    [routerLink]="[
      {
        outlets: {
          popup: ['auth', 'log-in']
        }
      }
    ]"
  >
    Log in
  </button>
</ng-template>
