<ng-container *ngIf="sessions$ | async as sessions">
  <mat-card class="card" *ngFor="let session of sessions">
    <img mat-card-image src="https://picsum.photos/200/200" />

    <mat-card-title>
      <a routerLink="/sessions/{{ session.id }}">{{ session.title }}</a>
    </mat-card-title>

    <mat-card-subtitle>
      <h5>{{ session.author?.name }}</h5>
    </mat-card-subtitle>

    <mat-card-content>
      <p>{{ session.description }}</p>

      <h5>Price : {{ session?.price?.display | currency: session?.price?.currency }}</h5>
    </mat-card-content>
  </mat-card>
</ng-container>
