:host {
  grid-template-columns: repeat(auto-fill, minmax(var(--column-items-min-inline-size), 0.5fr));
}

.session-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
