<ng-container *ngIf="sessions$ | async as sessions">
  <mat-card class="card" *ngFor="let session of sessions">
    <app-figure-image [style.--width]="3" [style.--height]="2">
      <img
        [fireStorageRef]="session.thumbRef"
        loading="lazy"
        alt="Thumbnail image of a session {{ session.title }}"
      />
    </app-figure-image>

    <mat-card-title>
      <a routerLink="/sessions/{{ session.id }}">{{ session.title }}</a>
    </mat-card-title>

    <mat-card-subtitle>
      <a routerLink="/teacher/{{ session.owner.uid }}">{{ session.owner?.displayName }}</a>
    </mat-card-subtitle>

    <mat-card-content>
      <p class="session-description" [textContent]="session.description"></p>

      <span
        >Price : <i>{{ session?.price?.display | currency: session?.price?.currency }}</i></span
      >
    </mat-card-content>

    <mat-card-actions>
      <ng-container *ngIf="session?.owner?.uid !== (uid$ | async)">
        <!-- <ng-container *ngIf="enrolled; else notenrolled">
          <a>You are enrolled</a>
        </ng-container> -->
        <a
          mat-raised-button
          color="accent" style="width: 100%"
          [routerLink]="[
            {
              outlets: {
                popup: ['enroll', session.id]
              }
            }
          ]"
          >Enroll in session</a
        >
      </ng-container>
    </mat-card-actions>
  </mat-card>
</ng-container>
