<ng-container *ngIf="sessions$ | async as sessions">
  <mat-card class="card" *ngFor="let session of sessions">
    <app-figure-image [style.--width]="3" [style.--height]="2">
      <img
        [fireStorageRef]="session.thumbRef"
        loading="lazy"
        alt="Thumbnail image of a session {{ session.title }}"
      />
    </app-figure-image>

    <mat-card-title>
      <a routerLink="/sessions/{{ session.id }}">{{ session.title }}</a>
    </mat-card-title>

    <mat-card-subtitle>
      <p>{{ session.owner?.displayName }}</p>
    </mat-card-subtitle>

    <mat-card-content>
      <p class="session-description" [textContent]="session.description"></p>

      <span
        >Price : <i>{{ session?.price?.display | currency: session?.price?.currency }}</i></span
      >
    </mat-card-content>

    <mat-card-actions>
      <ng-container *ngIf="session && !session.owner">
        <ng-container *ngIf="enrolled; else notenrolled">
          <a>You are enrolled</a>
        </ng-container>
        <ng-template #notenrolled>
          <a
            [routerLink]="[
              {
                outlets: {
                  popup: ['enroll', session.id]
                }
              }
            ]"
            mat-button
            >Enroll in session</a
          >
        </ng-template>
      </ng-container>
      <a
        [routerLink]="[
          {
            outlets: {
              popup: ['add-payment-source']
            }
          }
        ]"
        mat-button
        >pay</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</ng-container>
