<div class="box-with-badge">
  <img
    [src]="'/assets/images/' + (pillar | lowercase | slice: 4) + '.png'"
    width="25"
    height="25"
  />

  <h3>
    Joie<span class="text-primary">{{ pillar | slice: 4 }}</span>
  </h3>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-chip-list formArrayName="activities" [multiple]="true" [selectable]="true">
        <label *ngFor="let activity of activitiesFormArray.controls; let i = index">
          <mat-chip
            #chip="matChip"
            [selectable]="true"
            (click)="handleSelect(i, activitiesEnum[activityKeys[i]])"
          >
            {{ activitiesEnum[activityKeys[i]] }}
          </mat-chip>
        </label>
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>
`
