<div class="box-with-badge">
  <h3>{{ pillar }}</h3>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-chip-list formArrayName="activities"
                     [multiple]="true"
                     [selectable]="true">
        <label *ngFor="let activity of activitiesFormArray.controls; let i = index">
          <mat-chip #chip="matChip"
                    [selectable]="true"
                    (click)="handleSelect(i, activitiesEnum[activityKeys[i]])">
            {{ activitiesEnum[activityKeys[i]] }}
          </mat-chip>
        </label>
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>`
