@use "~@angular/material/theming" as *;
@use 'resources/theming';
@use "sass:map";
@use "sass:color";

$background-map: map.get(theming.$joie-theme, background);
$foreground-map: map.get(theming.$joie-theme, foreground);
$primary-map: map.get(theming.$joie-theme, primary);

:root {
  --joie-color-background: #{mat-color($background-map, background)};
  --joie-color-foreground: #{mat-color($foreground-map, text)};
  --joie-color-primary: #{mat-color($primary-map, text)};
  --joie-color-divider: #{mat-color($foreground-map, divider)};
  --joie-color-secondary-text: #{mat-color($foreground-map, secondary-text)};
  --joie-color-surface: #{color.adjust(mat-color($background-map, background), $lightness: -5)};
  --joie-gutter: 16px;
}

body {
  margin: 0;
  background-color: var(--joie-color-background);
  color: var(--joie-color-foreground);
}

main {
  > section {
    &:nth-child(even) {
      background: var(--joie-color-surface);
    }
  }
}

hr {
  border-color: var(--joie-color-divider);
  border-width: 1px 0 0;
  border-style: solid;
}

.joie-icon {
  $unit: 12px;
  display: inline-block;
  height: var(--size, $unit);
  width: var(--size, $unit);
  inline-size: var(--size, $unit);
  block-size: var(--size, $unit);

  $size-variable-name: --size;
  $sizes: (
    'xs': 1,
    'sm': 2,
    'md': 3,
    'lg': 4,
    'xl': 6,
    'xxl': 8,
  );

  @each $key, $value in $sizes {
    @at-root .size-#{$key} {
      #{$size-variable-name}: calc(#{$unit} * #{map.get($sizes, #{$key})});
    }
  }
  &.size-md,
  &.size-lg,
  &.size-xl,
  &.size-xxl {
    svg {
      stroke-width: 0.5;
    }
  }

  > #{&}-backdrop {
    position: relative;
    padding: calc(var(--size) / 5);

    &::before {
      content: '';
      background-color: #ddecea;
      position: absolute;
      height: inherit;
      width: inherit;
      inline-size: inherit;
      block-size: inherit;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      padding: inherit;
    }
    > :first-child {
      position: relative;
    }
  }
}
