@use "~@angular/material/theming" as *;
@use 'resources/theming';
@use "sass:map";
@use "sass:color";

$background-map: map.get(theming.$joie-theme, background);
$foreground-map: map.get(theming.$joie-theme, foreground);
$primary-map: map.get(theming.$joie-theme, primary);

:root {
  --joie-color-background: #{mat-color($background-map, background)};
  --joie-color-foreground: #{mat-color($foreground-map, text)};
  --joie-color-primary: #{mat-color($primary-map, text)};
  --joie-color-divider: #{mat-color($foreground-map, divider)};
  --joie-color-secondary-text: #{mat-color($foreground-map, secondary-text)};
  --joie-color-surface: #{color.adjust(mat-color($background-map, background), $lightness: -5)};
  --joie-gutter: 16px;
}

body {
  margin: 0;
  background-color: var(--joie-color-background);
  color: var(--joie-color-foreground);
}

main {
  > section {
    &:nth-child(even) {
      background: var(--joie-color-surface);
    }
  }
}

hr {
  border-color: var(--joie-color-divider);
  border-width: 1px 0 0;
  border-style: solid;
}

.joie-icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  inline-size: 100px;
  block-size: 100px;
  &#{&}-backdrop {
    position: relative;

    &::before {
      content: '';
      background-color: #ddecea;
      position: absolute;
      height: inherit;
      width: inherit;
      inline-size: inherit;
      block-size: inherit;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    > :first-child {
      position: relative;
    }
  }
}
