<mat-card class="event-card">
  <h4>{{ event.time }} pm</h4>
  <mat-icon class="copy-url"
            [cdkCopyToClipboard]="event.url">link</mat-icon>
  <p>
    <strong>{{ event.type }}</strong>{{ ' ' + event.title }}
  </p>


  <a [routerLink]="[
      '/teacher',
      'dashboard',
      { outlets: { teacherdashboardpopup: ['message'] } }
    ]">
    <button class="bottom"
            mat-raised-button>
      <mat-icon>message</mat-icon>Message
    </button>
  </a>


  <button class="bottom"
          mat-raised-button>
    <mat-icon>edit</mat-icon>Edit
  </button>
</mat-card>
