<div class="container container-condense">
  <h3>Online presence</h3>
  <p>
    What type of sessions are you interested in teaching?
    <br />
    <small>(You can pick as many as you like)</small>
  </p>
</div>

<div class="container container-ultra-condense">
  <form [formGroup]="formGroup">
    <div>
      <label
        formArrayName="sessionTypesCtrl"
        class="grid-item"
        *ngFor="let sessionType of sessionTypesFormArray.value; let i = index"
      >
        <input
          type="checkbox"
          (change)="handleCheck(entry(sessionType)[0], entry(sessionType)[1], i)"
          [formControlName]="i"
        />{{ entry(sessionType)[0] }}
      </label>
    </div>

    <p>
      Where can we learn more about your teaching style?
      <br />
      <small
        >Share a link to a website, social media profile, or video channel to help us learn about
        your teaching style.
      </small>
    </p>
    <div>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="teachingPortfolioUrlCtrl" required></textarea>
      </mat-form-field>
      <button mat-button mat-flat-button [disabled]="formGroup.invalid" matStepperNext>
        Continue
      </button>
    </div>
  </form>
</div>
