<div>
  <button mat-button mat-flat-button matStepperPrevious>< Back</button>
</div>
<div class="container-condense">
  <h3>Online presence</h3>
  <p>
    What type of sessions are you interested in teaching?
    <br />
    <small>(You can pick as many as you like)</small>
  </p>
</div>

<div class="container-ultra-condense">
  <form class="layout-rows-sm"
        [formGroup]="form">
    <div class="layout-columns-md">
      <label class="text-left" formArrayName="sessionTypes"
      *ngFor="let sessionType of sessionTypesLiteralsMap | keyvalue: asIsOrder; let i = index">
        <input type="checkbox"
              [formControlName]="i" /> {{ sessionType.value | titlecase}}
      </label>
      <mat-error *ngIf="typesFormArray.invalid && (typesFormArray.dirty || typesFormArray.touched)">{{onboardingService.showErrorMessage(typesFormArray)}}</mat-error>
    </div>

    <p>
      Where can we learn more about your teaching style?
      <br />
      <small>Share a link to a website, social media profile, or video channel to help us learn about
        your teaching style.
      </small>
    </p>
    <mat-form-field appearance="outline">
      <input matInput
             formControlName="portfolio"
             required />
      <mat-error *ngIf="portfolio.invalid">{{onboardingService.showErrorMessage(portfolio)}}</mat-error>

    </mat-form-field>
    <button mat-button
            mat-stroked-button
            [disabled]="form.invalid"
            matStepperNext>
      Continue
    </button>
  </form>
</div>
