<div class="container-condense">
  <div class="text-left">
    <button mat-button
            mat-flat-button
            matStepperPrevious>< Back</button>
  </div>
  <h3>Online presence</h3>
  <p>
    What type of sessions are you interested in teaching?
    <br />
    <small>(You can pick as many as you like)</small>
  </p>
</div>

<div class="container-ultra-condense">
  <form class="layout-rows-sm"
        [formGroup]="form">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <ng-container *ngFor="let sessionType of sessionTypesLiteralsMap | keyvalue: asIsOrder; let i = index">
          <label class="text-left" formArrayName="sessionTypes"
                 *ngIf="i<3">
            <input type="checkbox"
                  [formControlName]="i" /> {{ sessionType.value | titlecase}}
          </label>
        </ng-container>
      </div>
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <ng-container *ngFor="let sessionType of sessionTypesLiteralsMap | keyvalue: asIsOrder; let i = index">
          <label class="text-left" formArrayName="sessionTypes"
                 *ngIf="i>2">
            <input type="checkbox"
                  [formControlName]="i" /> {{ sessionType.value | titlecase}}
          </label>
        </ng-container>
      </div>
    </div>
    <mat-error *ngIf="typesFormArray.invalid">{{onboardingService.showErrorMessage(typesFormArray)}}</mat-error>

    <p>
      Where can we learn more about your teaching style?
      <br />
      <small>Share a link to a website, social media profile, or video channel to help us learn about
        your teaching style.
      </small>
    </p>
    <mat-form-field appearance="outline">
      <input matInput
             formControlName="portfolio"
             required />
      <mat-error *ngIf="portfolio.invalid">{{onboardingService.showErrorMessage(portfolio)}}</mat-error>

    </mat-form-field>
    <button mat-button
            mat-stroked-button
            [disabled]="form.invalid"
            matStepperNext>
      Continue
    </button>
  </form>
</div>
