<div class="container container-condense">
  <h1>What will be your first step on your journey?</h1>
  <p>
    Taking small steps will help you see progress, gain self-confidence, stay
    motivated, and take pride in the achievment. Let's set some smaller targets on
    the way to reach your goal.
  </p>
</div>


<div class="container container-ultra-condense">
  <form [formGroup]="formGroup"
        class="layout-grid layout-grid-inline-features layout-spacing-inline-md">
    <app-sub-goals-box *ngFor="let goal of goals"
                       [title]="goal.title"
                       [subgoalsData]="goal.subgoals"
                       [parentFormGroup]="formGroup"></app-sub-goals-box>
  </form>
  <div class="layout-grid">
    <button mat-button
            matStepperNext>
      Continue
    </button>

    <button mat-raised-button
            (click)="onboardingService.skipOnboarding()">
      Skip for now.
    </button>
  </div>
</div>
