<p>form-array-table works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input type="date" matInput [formControl]="element.date" />
      </mat-form-field>
    </td>
    <td mat-footer-cell *matFooterCellDef>new date here</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
