<header>
  <app-figure-image [style.--width]="3" [style.--height]="1">
    <img
      src="https://source.unsplash.com/jg_t3PBq5Jo"
      alt="cover image of scattered pink letters for contact page"
    />
    <span slot="caption"
      >Photo by <a href="https://unsplash.com/@eyeforebony">Eye for Ebony </a> on
      <a href="https://unsplash.com/photos/jg_t3PBq5Jo" target="_blank" rel="noopener"
        >Unsplash</a
      ></span
    >
  </app-figure-image>
</header>
<main>
  <section
    [ngClass]="{
      'section-block-start-offset-md': isLargeBreakpoint$ | async,
      'layout-rows-md': true
    }"
  >
    <div class="container-condense">
      <mat-card
        *ngIf="isLargeBreakpoint$ | async; else headContext"
        class="mission-offset-card mat-elevation-z1 text-center"
      >
        <ng-container *ngTemplateOutlet="headContext"></ng-container>
      </mat-card>
      <ng-template #headContext>
        <section class="layout-rows-md layout-center text-center">
          <h1>
            Joie is on a mission to help you build a healthier and happier life – one step at a
            time.
          </h1>
          <button mat-raised-button color="primary">Start your journey with us</button>
        </section>
      </ng-template>
    </div>

    <div class="container-ultra-condense text-center">
      <p>
        Joie pairs you with world-class teachers, experts and coaches to help you build a healthier
        and happier life – one step at a time. Our online platform helps you find the right programs
        to help you reach your goals faster and covers a variety of topics related to holistic
        health and wellness.
      </p>

      <p>
        Joie's philosophy embracing a holistic wellness approach, through our 5 pillars: Movement,
        Emotions, Connections, Spirit, and Professional, which plays a pivotal role in your overall
        well-being and life-balance.
      </p>

      <p>
        We believe that happiness is a skill that has to be taught. We are trying to redeﬁne how
        people look at happiness. That it is not just a feeling that comes and goes, but through
        learning and taking small steps we can make changes with ourselves. It does not matter where
        we start as long as we can take the next step to where we are going.
      </p>

      <p>We welcome you to a community of people who are working for a common goal.</p>
    </div>
  </section>
  <section>
    <div class="container-condense layout-rows-md">
      <h1 class="text-center">Who we are?</h1>
      <div class="layout-columns layout-rows" [style.--joie-gutter]="'60px'">
        <div>
          <h4>Jason Teitelbaum</h4>
          <p>
            As a special education teacher for children, he found satisfaction in helping children
            accomplished what often others said they could not.<br />
            His solution - teaching essential life skills as a way to overcome obstacles and be
            truly happy.<br />
            He then decided to found Joie, rest on the belief that grown-ups should learn too.<br />
            His vision is to create a community of people who share the same interest - work on
            being the best version of yourself. Together, the journey will be easier.
          </p>
          <address>
            <a href="mailto:jason@joie.co">jason@joie.co</a>
          </address>
        </div>
        <div>
          <h4>Dikla Revah</h4>
          <p>
            Dikla met Jason for a date in a little Cafe in Toronto. Jason talked about his ideas to
            build a “marketplace for happiness.”<br />
            Jason talked with so much passion and excitement, which sparked a desire to participate
            in this project.<br />
            Dikla offered to join, he accepted, and the rest is history.<br />
            Her vision is to create a diversify and inclusive platform where everyone feels safe to
            be vulnerable to allow personal growth with the support Joie and its community provides.
          </p>
          <address>
            <a href="mailto:dikla@joie.co">dikla@joie.co</a>
          </address>
        </div>
      </div>

      <div class="layout-rows-md layout-center text-center">
        <button mat-raised-button color="primary">Start your journey with us</button>
      </div>
    </div>
  </section>
</main>
<footer>
  <section>
    <app-subscribe-to-newsletter class="container"></app-subscribe-to-newsletter>
  </section>
</footer>
