<header>
  <app-figure-image [style.--width]="3" [style.--height]="1">
    <source
      srcset="
        /assets/images/female_yoga_teacher_meditating_in_front_of_a_recording_camera_on_a_tripod.webp
      "
    />
    <img
      src="/assets/images/female_yoga_teacher_meditating_in_front_of_a_recording_camera_on_a_tripod.jpg"
      alt="cover image of a female yoga teacher meditating in front of a recording camera on a tripod"
    />
  </app-figure-image>
</header>
<main>
  <section>
    <div class="container">
      <div class="text-center">
        <h1>Partner with Joie on our mission to help people live a happier life.</h1>

        <h4>
          Joie will help you grow your online business, expand your reach, and optimize your income
          so that you could do what you do best - Teach.
        </h4>
        <button mat-flat-button color="primary" routerLink="aboard">Apply Now</button>
      </div>
    </div>
  </section>
  <section>
    <div class="container-condense">
      <carousel 
        [height]=350 cellWidth="100%" [cellsToShow]=1 [loop]=true
        [autoplay]=true  [arrows]=false [dots]=true [overflowCellsLimit]=1>
        <div class="carousel-cell" *ngFor="let item of teacherList">
          <div class="layout-rows layout-center">
            <h3>See what other teachers say about partnering with us</h3>
            <div class="joie-list-item">
              <img [src]="item.photo_url" alt="" />
              <div>
                <p>{{item.description}}</p>
                <p>{{item.teacher_info}}</p>
              </div>
            </div>
          </div>
        </div>
      </carousel>
    </div>
  </section>
  <section>
    <div class="layout-rows-md">
      <div class="container">
        <div class="text-center">
          <h1>Why Joie?</h1>
          <h4>
            Joie value proposition based on comprehensive market research to answer the most common
            needs teachers like yourself have to grow and optimize your business successfully. Join
            our family of like-minded teachers, experts, and coaches.
          </h4>
        </div>
      </div>
      <div class="container-condense">
        <div class="layout-columns">
          <div class="joie-list-item" *ngFor="let item of list">
            <figure class="joie-list-item-figure">
              <app-icon class="joie-icon joie-icon-backdrop size-xl" [name]="item.icon"></app-icon>
            </figure>
            <h4 class="joie-list-name">{{ item.name }}</h4>
            <p class="joie-list-description">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <section>
    <app-subscribe-to-newsletter class="container"></app-subscribe-to-newsletter>
  </section>
</footer>
