// :host {
//   text-align: center;
// }

.joie-list-item {
  display: grid;
  grid-template-columns: 115px auto;
  grid-row-gap: 15px;
  grid-column-gap: 50px;
  > #{&}-figure {
    // $size: 115px;
    // width: $size;
    // block-size: $size;
    // height: $size;
    // inline-size: $size;
    // grid-column: 1;
    grid-row: span 2;
    // aspect-ratio: 1/1;
  }
  > #{&}-name {
    grid-column: 2;
  }
  > #{&}-description {
    grid-column: 2;
    margin: 0;
  }
  + #{&} {
    margin-block-start: 70px;
  }
}

blockquote {
  text-indent: -0.45em;
  border-left: 2px solid red;
  margin: 0;
}
@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: '“' '”' '‘' '’';
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}

app-figure-image img {
  object-position: top;
}
