<form [formGroup]="form">
  <h2 mat-dialog-title>Create a session</h2>
  <mat-dialog-content class="mat-typography">
    <!-- {{ form.value | json }} -->
    <div [class]="layoutClass">
      <app-session-form-metadata [class]="layoutClass"></app-session-form-metadata>
      <button mat-button
              color="primary"
              (click)="showAllFields = true"
              *ngIf="!showAllFields">
        Show all fields...
      </button>
      <ng-container *ngIf="showAllFields">
        <app-session-form-time-slots *ngIf="isCoaching"
                                     [class]="layoutClass">
        </app-session-form-time-slots>

        <ng-container *ngIf="isLivestreaming">
          <!-- date-time-duration -->
          <ng-container *ngIf="isCourse">
            <app-session-form-repeatitions [class]="layoutClass"></app-session-form-repeatitions>

          </ng-container>
        </ng-container>

        <app-session-form-attributes [class]="layoutClass"> </app-session-form-attributes>
        <app-session-form-marketing [class]="layoutClass"></app-session-form-marketing>
      </ng-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button
            color="primary">Submit</button>
  </mat-dialog-actions>
</form>
