div.stat-item {
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius: 5px;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
  text-align: center;
  h3 {
    color: #009fe1;
    font-size: x-large;
  }
}
