<div *ngIf="selectable; then selectablePillars; else nonSelectablePillars"></div>

<ng-template #selectablePillars class="container-condense">
  <form [formGroup]="form" class="layout-columns-sm">
    <mat-card *ngFor="let pillar of pillars; let i = index">
      <app-icon class="size-xl" [name]="pillarsIconsMap.get(pillar.title)"></app-icon>
      <label formArrayName="pillars">
        <input type="checkbox" [formControlName]="i" />
      </label>

      <div>
        <h4><dfn [innerHTML]="pillar?.title | titlecase | joiePrefix"></dfn></h4>
      </div>
    </mat-card>
  </form>
</ng-template>

<ng-template #nonSelectablePillars class="container-condense">
  <mat-card *ngFor="let pillar of pillars; let i = index">
    <mat-card-content>
      <div class="layout-rows-xs layout-center">
        <app-icon [backdrop]="true" class="size-xl" [name]="pillarsIconsMap.get(pillar.title)"></app-icon>
        <div>
          <h4><dfn [innerHTML]="pillar?.title | titlecase | joiePrefix"></dfn></h4>
          <p>{{ pillar.description }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
