<div *ngIf="selectable; then selectablePillars; else nonSelectablePillars"></div>

<ng-template #selectablePillars class="container-condense">
  <form [formGroup]="form" class="layout-columns-sm">
    <mat-card *ngFor="let pillar of pillars; let i = index">
      <app-icon class="joie-icon joie-icon-backdrop size-xl" [name]="pillar.icon"></app-icon>
      <label formArrayName="pillars">
        <input type="checkbox" [formControlName]="i" />
      </label>

      <div>
        <h4 [innerHTML]="pillar?.title | titlecase | joiePrefix"></h4>
      </div>
    </mat-card>
  </form>
</ng-template>

<ng-template #nonSelectablePillars class="container-condense">
  <mat-card *ngFor="let pillar of pillars; let i = index">
    <app-icon class="joie-icon joie-icon-backdrop size-xl" [name]="pillar.icon"></app-icon>

    <div>
      <h4 [innerHTML]="pillar?.title | titlecase | joiePrefix"></h4>
    </div>
    <p>{{ pillar.description }}</p>
  </mat-card>
</ng-template>
