<ng-container [formGroup]="form">
  <h3>Available time slots</h3>

  <app-form-array-table [values]="timeSlotValues"
                        (remove)="removeTimeSlot($event)">

    <app-time-slot-form #timeSlotForm
                        (add)="addTimeSlot($event)"></app-time-slot-form>

    <button mat-icon-button
            slot="suffix"
            color="primary"
            (click)="timeSlotForm.submit()">
      <mat-icon>add</mat-icon>
    </button>
  </app-form-array-table>
</ng-container>
