<div class="container container-condense">
  <h1>What will be your first step on your journey?</h1>
  <p>
    Taking small steps will help you see progress, gain self-confidence, stay motivated, and take
    pride in the achievment. Let's set some smaller targets on the way to reach your goal.
  </p>
</div>

<div class="container container-ultra-condense">
  <div class="layout-grid layout-grid-inline-features layout-spacing-inline-md">
    <app-activities-box #boxes
                        *ngFor="let pillar of selectedPillars"
                        [pillar]="pillarEnum[pillar]"></app-activities-box>
  </div>
  <div class="layout-grid">
    <button mat-button
            mat-raised-button
            matStepperNext>
      Continue
    </button>

    <a routerLink="/home">
      Skip for now.
    </a>
  </div>
</div>
