<h1>What brings you to Joie?</h1>
<p>
  Setting goal gives you long-term vision and short-term motivation to stay
  focused. We reccomend picking 1-2 pillars to get started. You can explore more
  later.
</p>
<form [formGroup]="formGroup">
  <label
    formArrayName="goalsCtrl"
    *ngFor="let goal of goalsData; let i = index"
  >
    <mat-checkbox
      [checked]="goal.isChecked"
      [formControlName]="i"
      (change)="handleCheck(goal, i)"
      >{{ goalsData[i].goal }}</mat-checkbox
    >
  </label>

  <button mat-button matStepperNext>
    Continue
  </button>

  <button
    mat-button
    mat-raised-button
    (click)="onboardingService.skipOnboarding()"
  >
    Skip for now.
  </button>
</form>
