:host {
	text-align: center;
}

::ng-deep .stepper-header .steps {
	margin: 30px 0 !important;
}

::ng-deep .stepper-header .steps .step.active .step-bullet,
::ng-deep .stepper-header .steps .step.completed .step-bullet {
	background-color: var(--joie-color-primary) !important;
}

.step.completed + .step:after {
	background-color: var(--joie-color-primary) !important;
}

::ng-deep .stepper-header .steps .step.completed .step-title,
::ng-deep .stepper-header .steps .step.active .step-title
{
	color: var(--joie-color-primary) !important;
}

::ng-deep .stepper-header .steps .step .step-bullet {
	width: 70px !important;
	height: 25px !important;
	border-radius: 0% !important;
}

@media  screen and (max-width: 700px) {
	::ng-deep .stepper-header .steps .step .step-bullet {
		width: 40px !important;
		border-radius: 0% !important;
	}

	::ng-deep .step {
		width: 16.67% !important;
	}

	.step-title {
		font-size: 0.6em !important;
	}
}
