<div class="container-condense">
  <button mat-button
          mat-flat-button
          (click)="onboardingService.navigateToPrevStep()">> Back</button>
  <h3>Your market</h3>
  <p>
    What's your niche, the area you focus on in your sessions?
  </p>
</div>

<div class="container-ultra-condense">
  <form [formGroup]="form"
        class="layout-rows-sm">
    <mat-form-field appearance="outline">
      <textarea matInput
                formControlName="sessionArea"
                required></textarea>
      <mat-error *ngIf="sessionArea.invalid">{{onboardingService.showErrorMessage(sessionArea)}}</mat-error>
    </mat-form-field>
    <p>For which group your content design for?</p>
    <label *ngFor="let group of groupsFormArray.controls; let i = index"
           formArrayName="ageGroups">
      <input type="checkbox"
             [formControlName]="i" />
      {{groupsEnum[groupKeys[i]]}}
    </label>
    <mat-error *ngIf="groupsFormArray.invalid">{{onboardingService.showErrorMessage(groupsFormArray)}}</mat-error>


    <button mat-button
            mat-flat-button
            [disabled]="form.invalid"
            matStepperNext>
      Continue
    </button>

  </form>
</div>
