<h3>Your market</h3>
<p>
  What's your niche, the area you focus on in your sessions?
</p>
<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <textarea matInput
              formControlName="sessionAreaCtrl"
              required></textarea>
  </mat-form-field>

  <label formArrayName="focusGroupsCtrl"
         *ngFor="let group of groupsFormArray.value; let i = index">
    <mat-checkbox (change)="handleCheck(entry(group)[0], entry(group)[1], i)"
                  [formControlName]="i">
      {{entry(group)[0]}}
    </mat-checkbox>
  </label>

  <button mat-button
          matStepperNext>
    Next
  </button>
</form>
