<div class="container container-condense">
  <h2>What brings you to Joie?</h2>
  <p>
    Setting goal gives you long-term vision and short-term motivation to stay focused. We reccomend
    picking 1-2 pillars to get started. You can explore more later.
  </p>
</div>
<div class="container container-condense">
  <app-pillar-list #pillarList
                   [selectable]="true"
                   layoutClass="layout-grid layout-grid-inline-features layout-spacing-inline-md
                   layout-spacing-block-md"></app-pillar-list>

  <div class="layout-grid">
    <button mat-button
            mat-raised-button
            matStepperNext>
      Continue
    </button>

    <a routerLink="/home">
      Skip for now.
    </a>
  </div>
</div>
