<div class="container-condense">
  <h2>What brings you to Joie?</h2>
  <p>
    Setting goal gives you long-term vision and short-term motivation to stay focused. We reccomend
    picking 1-2 pillars to get started. You can explore more later.
  </p>
</div>
<div class="container-condense">
  <app-pillar-list #pillarList
                   [selectable]="true"
                   class="layout-columns-sm"></app-pillar-list>
  <mat-error *ngIf="pillarList.subForm.invalid">
    {{onboardingService.showErrorMessage(pillarList.pillarsFormArray)}}
  </mat-error>

  <div class="layout-columns-md">
    <div>
      <button mat-button
              mat-raised-button
              matStepperNext>
        Continue
      </button>
      <br />
      <a routerLink="/home">
        Skip for now.
      </a>
    </div>
  </div>
</div>
