<div class="container container-condense">
  <h2>What brings you to Joie?</h2>
  <p>
    Setting goal gives you long-term vision and short-term motivation to stay focused. We reccomend
    picking 1-2 pillars to get started. You can explore more later.
  </p>
</div>
<div class="container container-condense">
  <app-pillar-list #pillarList
                   [selectable]="true"
                   layoutClass="layout-grid layout-grid-inline-features layout-spacing-inline-md
                   layout-spacing-block-md"></app-pillar-list>
  <!-- <form
    [formGroup]="formGroup"
    class="layout-grid layout-grid-inline-features layout-spacing-inline-md"
  >
    <mat-card *ngFor="let pillar of pillarFormArray.controls; let i = index">
      <img [src]="'/assets/images/' + pillarKeys[i] + '.png'" width="100" height="100" />
      <label formArrayName="pillars">
        <input type="checkbox" [formControlName]="i" />
        <div>
          Joie<span class="text-primary">{{ pillarKeys[i] | titlecase }}</span>
        </div>
      </label>
    </mat-card>
  </form> -->

  <div class="layout-grid">
    <button mat-button
            mat-raised-button
            matStepperNext>
      Continue
    </button>

    <a routerLink="/home">
      Skip for now.
    </a>
  </div>
</div>
