<h2>post list</h2>
<a routerLink="54g5455g">
  <fieldset>
    <legend>post 1</legend>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam error
    sequi ipsa, amet aliquam maiores corporis, perferendis alias magnam nobis
    voluptatem officiis deserunt tenetur quos similique fugiat! Tempora,
    corrupti.
  </fieldset>
</a>
<a routerLink="n349vruin">
  <fieldset>
    <legend>post 2</legend>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam error
    sequi ipsa, amet aliquam maiores corporis, perferendis alias magnam nobis
    voluptatem officiis deserunt tenetur quos similique fugiat! Tempora,
    corrupti.
  </fieldset>
</a>
