<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <!-- {{ form.value | json }} -->
    <div [class]="commonLayoutClass">
      <app-session-form-metadata [class]="commonLayoutClass"></app-session-form-metadata>
      <button mat-button color="primary" (click)="showAllFields = true" *ngIf="!showAllFields">
        Show all fields...
      </button>
      <ng-container *ngIf="showAllFields">
        <app-session-form-date-time-slots
          *ngIf="isCoaching"
          [class]="commonLayoutClass"
        ></app-session-form-date-time-slots>

        <app-session-form-date-time
          *ngIf="isLivestreaming && !isCoaching"
          [class]="commonLayoutClass"
        ></app-session-form-date-time>
        <app-session-form-repetitions
          *ngIf="isLivestreaming"
          [class]="commonLayoutClass"
        ></app-session-form-repetitions>

        <app-session-form-marketing [class]="commonLayoutClass"></app-session-form-marketing>
        <app-session-form-attributes [class]="commonLayoutClass"> </app-session-form-attributes>
      </ng-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [disabled]="showLoader">
      <span class="spinner-text-group">
        <mat-spinner [diameter]="16" color="primary" *ngIf="showLoader"></mat-spinner>
        Submit
      </span>
    </button>
  </mat-dialog-actions>
</form>
