<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Create a session</h2>
  <!-- {{ form.value | json }} -->
  <mat-dialog-content class="mat-typography">
    <div [class]="layoutClass">
      <app-session-form-metadata [class]="layoutClass"></app-session-form-metadata>
      <button mat-button color="primary" (click)="showAllFields = true" *ngIf="!showAllFields">
        Show all fields...
      </button>
      <ng-container *ngIf="showAllFields">
        <app-session-form-date-time-slots
          *ngIf="isCoaching"
          [class]="layoutClass"
        ></app-session-form-date-time-slots>

        <app-session-form-date-time
          *ngIf="isLivestreaming && !isCoaching"
          [class]="layoutClass"
        ></app-session-form-date-time>

        <app-session-form-marketing [class]="layoutClass"></app-session-form-marketing>
        <app-session-form-attributes [class]="layoutClass"> </app-session-form-attributes>
      </ng-container>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary">Submit</button>
  </mat-dialog-actions>
</form>
