<div *ngIf="selectable; then selectablePillars; else nonSelectablePillars"></div>

<ng-template #selectablePillars>
  <form [formGroup]="form">
    <mat-card *ngFor="let pillar of pillars; let i = index">
      <img [src]="pillar?.imgUrl"
           alt="icon figure for {{ pillar?.title }}" />
      <label formArrayName="pillars">
        <input type="checkbox"
               [formControlName]="i" />
      </label>

      <div>
        <h4 [innerHTML]="pillar?.title | pillarKeywordEmphasis"></h4>
      </div>
    </mat-card>
  </form>
</ng-template>

<ng-template #nonSelectablePillars>
  <mat-card *ngFor="let pillar of pillars; let i = index">
    <img [src]="pillar?.imgUrl"
         alt="icon figure for {{ pillar?.title }}" />

    <div>
      <h4 [innerHTML]="pillar?.title | pillarKeywordEmphasis"></h4>
    </div>
    <p>{{ pillar.description }}</p>
  </mat-card>
</ng-template>
