@use "../../../../styles/styles-critical/layouts";

.hero {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  background-position: left;
  padding: 120px 0;
  @media (min-width: layouts.$layout-breakpoint-xs) {
    &-context {
      max-inline-size: layouts.$layout-breakpoint-xs;
      max-width: layouts.$layout-breakpoint-xs;
    }
  }
}

.video-player-container {
  width: 75%;
}
