<header>
  <div class="splash">
    <div class="container">
      <div>Find Your Joie In Life.</div>
      <div>One Step At A Time.</div>
      <h3>
        Joie pairs you with world-class teachers to help you <br />
        build a healthier and happier life – one step at a time.
      </h3>
      <button mat-raised-button color="primary">Start your journey with us</button>
    </div>
  </div>
</header>
<main>
  <div>
    <div class="text-center">Explore Our Pillars</div>
    <div class="text-center">
      Our online platform helps you find the right programs to help you reach your goals faster and
      covers a variety of topics related to holistic health and wellness. What brings you to Joie
      today?
    </div>
    <div class="layout-grid layout-grid-inline-features layout-spacing-inline-md">
      <mat-card class="text-center">
        <img src="/assets/images/movement.png" width="100" height="100" />
        <div>Joie<span class="text-primary">Movement</span></div>
        <div>Exercise, Energy, Diet, and Nutrition.</div>
      </mat-card>

      <mat-card class="text-center">
        <img src="/assets/images/emotions.png" width="100" height="100" />
        <div>Joie<span class="text-primary">Emotions</span></div>
        <div>Self-Regulation, Self-care, Relaxation, Stress Reduction, and Inner Strength.</div>
      </mat-card>

      <mat-card class="text-center">
        <img src="/assets/images/connections.png" width="100" height="100" />
        <div>Joie<span class="text-primary">Connections</span></div>
        <div>Social interactions, Friendships, Parenting, and Relationships.</div>
      </mat-card>

      <mat-card class="text-center">
        <img src="/assets/images/spirit.png" width="100" height="100" />
        <div>Joie<span class="text-primary">Spirit</span></div>
        <div>Seek Meaning, Individual Purpose, Faith, Values, Ethics and Morals.</div>
      </mat-card>

      <mat-card class="text-center">
        <img src="/assets/images/professional.png" width="100" height="100" />
        <div>Joie<span class="text-primary">Professional</span></div>
        <div>Satisfaction at Work, Professional Development, and Financial Stability.</div>
      </mat-card>
    </div>
  </div>

  <div>
    <div class="text-center">Take your first step</div>
    <div class="text-center">
      Explore our full library of Live-Streaming and On-Demand Videos, Workshops, Courses and 1:1
      Coaching from leading experts in holistic health and wellness.
    </div>
    <app-session-list></app-session-list>
  </div>

  <div>
    <div class="text-center">What Joie Offers You</div>
    <div class="text-center">
      <!-- TODO Change the url -->
      <!-- <app-kaltura-player></app-kaltura-player> -->
    </div>

    <div class="layout-grid layout-grid-inline-features layout-spacing-inline-md">
      <div class="text-center">
        <img src="/assets/images/learning.png" width="100" height="100" />
        <div>3 types of learning experiences.</div>
        <div>
          Joie offers 3 types of learning experience: on-demand, group, and 1:1 coaching, to help
          you find the learning style that fits your need, reach your goals faster, stay motivated,
          and progress at your own pace.
        </div>
      </div>

      <div class="text-center">
        <img src="/assets/images/connection.png" width="100" height="100" />
        <div>
          Personal Connection. Our Teachers are here for you
        </div>
        <div>
          Your journey does not finish at the end of your session. Our teachers are here to answer
          questions, give advice, and support through your journey.
        </div>
      </div>

      <div class="text-center">
        <img src="/assets/images/wellness.png" width="100" height="100" />
        <div>Holistic Wellness. One Step at a Time.</div>
        <div>
          Our philosophy based on the understanding that each of the five pillars of holistic
          wellness plays a pivotal role in your overall well-being and life-balance. We invite you
          to grow with us, one step at a time.
        </div>
      </div>

      <div class="text-center">
        <img src="/assets/images/empowerment.png" width="100" height="100" />
        <div>Empowerment. Our Northen Star.</div>
        <div>
          Our inspiration is to empower those around us. We act with fairness and respect, try to
          make decisions not only based on profit, and make sure to give back to our community. Yes,
          we are trying to live in harmony with our old friend - Karma.
        </div>
      </div>

      <div class="text-center">
        <img src="/assets/images/world.png" width="100" height="100" />
        <div>Making the world a smaller place. Just for you.</div>
        <div>
          Joie provides you with an access to world-class experts teaching a variety of topics in
          holistic health and wellness. Learn from anywhere with instant access to on-demand and
          live-streaming trainings and workshops.
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div>
      <button mat-raised-button color="primary">Like what you see? Join Joie</button>
    </div>
    <div>
      <button mat-button>Want to teach with us? Apply Now!</button>
    </div>
  </div>

  <div>
    <div class="text-center">Learn From Our Leading Teachers</div>
    <div class="text-center">
      Joie hand-picked teachers with a unique teaching approach, who put their hearts and souls into
      their sessions, identifying with our philosophy, and having the desire to help you live a
      happier life.
    </div>

    <!--TODO Get List of teachers-->

    <div class="text-center">
      <button mat-raised-button color="primary">See yourself a part of Joie? Apply Now!</button>
    </div>
  </div>

  <div>
    <div class="text-center">Fresh From our blog</div>

    <!--TODO Get List of blog posts-->
  </div>
</main>
