<header class="layout-hero">
  <!-- <app-figure-image
    src="/assets/images/splash.png"
    alt="todo replace"
    [style.--width]="16"
    [style.--height]="9"
  >
  </app-figure-image> -->
  <div class="container">
    <div class="mat-display-1" role="heading" aria-level="1">
      Find Your Joie In Life.<br />One Step At A Time.
    </div>
    <h1 role="heading" aria-level="2">
      Joie pairs you with world-class teachers to help you build a healthier and happier life – one
      step at a time.
    </h1>
    <button mat-raised-button color="primary">Start your journey with us</button>
  </div>
</header>
<main>
  <section>
    <div class="container">
      <div class="layout-rows-md layout-center text-center">
        <h2>Explore Our Pillars</h2>
        <h4>
          Our online platform helps you find the right programs to help you reach your goals faster
          and covers a variety of topics related to holistic health and wellness. What brings you to
          Joie today?
        </h4>
        <app-pillar-list
          [descriptions]="true"
          [selectable]="false"
          class="layout-columns-sm layout-rows-xs"
        >
        </app-pillar-list>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="layout-rows-md layout-center text-center">
        <h2>Take your first step</h2>
        <h4>
          Explore our full library of Live-Streaming and On-Demand Videos, Workshops, Courses and
          1:1 Coaching from leading experts in holistic health and wellness.
        </h4>
        <app-session-list class="layout-rows-xs layout-columns-lg"></app-session-list>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="layout-rows-md layout-center">
        <h2>What Joie Offers You</h2>
        <div class="video-player-container">
          <app-video-player [entryId]="entryId"></app-video-player>
        </div>

        <div class="layout-columns-sm text-center">
          <mat-card class="mat-elevation-z0" *ngFor="let advantage of homeJoieAdvantages">
            <app-icon
              class="joie-icon joie-icon-backdrop size-xl"
              [name]="advantage.icon"
            ></app-icon>
            <h4>{{ advantage.title }}</h4>
            <p>
              {{ advantage.description }}
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="layout-rows-md layout-center text-center">
        <button mat-raised-button color="primary">Like what you see? Join Joie</button>
        <button mat-button>Want to teach with us? Apply Now!</button>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="layout-rows-md layout-center text-center">
        <div>Learn From Our Leading Teachers</div>
        <div>
          Joie hand-picked teachers with a unique teaching approach, who put their hearts and souls
          into their sessions, identifying with our philosophy, and having the desire to help you
          live a happier life.
        </div>

        <!--TODO Get List of teachers-->

        <button mat-raised-button color="primary">See yourself a part of Joie? Apply Now!</button>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="layout-rows-md layout-center text-center">
        <div>Fresh From our blog</div>

        <!--TODO Get List of blog posts-->
      </div>
    </div>
  </section>
</main>
