<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="step1.formGroup">
    <app-personal-info-step
      (stepComplete)="collectStepData($event)"
      #step1
    ></app-personal-info-step>
  </mat-step>
  <mat-step [stepControl]="step2.formGroup">
    <app-teaching-experience-step
      [teachersName]="teacherData?.firstNameCtrl"
      (stepComplete)="collectStepData($event)"
      #step2
    ></app-teaching-experience-step>
  </mat-step>
  <mat-step [stepControl]="step5.formGroup">
    <app-why-joie-step
      [teachersName]="teacherData?.firstNameCtrl"
      (stepperComplete)="submitData($event)"
      #step5
    ></app-why-joie-step>
  </mat-step>
</mat-horizontal-stepper>
