<header>
  <app-figure-image [style.--width]="3" [style.--height]="1">
    <img
      src="https://source.unsplash.com/nF8xhLMmg0c"
      alt="cover image of scattered pink letters for contact page"
    />
  </app-figure-image>
</header>
<main>
  <section style="display: none"></section>
  <section>
    <div class="container-condense text-center">
      <h1 class="mat-display-1">How Joie Works</h1>
      <h4>
        Joie members gain access to word-class sessions and teachers. Enroll in our live-stream or
        on-demand session - a class, workout, course, lecture, or 1:1 coaching, to start your
        journey to a happier and healthier life.
      </h4>
      <button mat-flat-button color="primary" routerLink="aboard">
        Start your journey with us
      </button>
    </div>
  </section>
  <section>
    <div class="container text-center layout-rows-md layout-center">
      <h1>Sign up to Joie to start your journey. It is fast and simple.</h1>

      <div class="layout-columns-md layout-rows-xs">
        <mat-card class="layout-center" *ngFor="let feature of signUpFeatures">
          <app-icon [backdrop]="true" class="joie-icon size-xl" [name]="feature.icon"></app-icon>
          <p>{{ feature.description }}</p>
        </mat-card>
      </div>

      <button mat-flat-button color="primary" routerLink="aboard">
        Start your journey with us
      </button>
    </div>
  </section>
  <section>
    <div class="container text-center layout-rows-md layout-center">
      <div>
        <h1>Grow with us, just the way you like it.</h1>
        <h4>
          For some, it has never been easier to stay active and healthy at home. While others prefer
          to go solo. Joey offers 3 types of learning opportunities to help you choose the right one
          for you, and help you persist on your journey. Find the one that works for you.
        </h4>
      </div>
      <div class="layout-columns-md layout-rows-xs">
        <mat-card class="layout-center" *ngFor="let feature of sessionsFeatures">
          <app-icon [backdrop]="true" class="joie-icon size-xl" [name]="feature.icon"></app-icon>
          <h4>{{ feature.title }}</h4>
          <p>{{ feature.description }}</p>
        </mat-card>
      </div>
      <button mat-flat-button color="primary" routerLink="aboard">
        Start your journey with us
      </button>
    </div>
  </section>
</main>
<footer>
  <section>
    <app-subscribe-to-newsletter class="container"></app-subscribe-to-newsletter>
  </section>
</footer>
