<div class="container container-condense">
  <h3>Teaching experience</h3>
  <p>
    {{ (authService.state$ | async)?.displayName }}, in up to 300 words, tell us about what do you teach, your
    training and experience, and what is your teaching philosophy.
  </p>
</div>
<div class="container container-ultra-condense">
  <form [formGroup]="formGroup">

    <div class="layout-grid">
      <mat-form-field appearance="outline">
        <textarea matInput
                  formControlName="teachingExpCtrl"
                  required></textarea>
        <mat-error *ngIf="teachingExp.invalid">{{onboardingService.showErrorMessage(teachingExp)}}</mat-error>

      </mat-form-field>
      <button mat-button
              mat-flat-button
              [disabled]="formGroup.invalid"
              matStepperNext>
        Continue
      </button>
    </div>
  </form>
</div>
