<div class="c26">
  <p class="c22">
    <span class="c1">Terms of Use: THE JOIE COMPANY INC.</span>
  </p>
  <p class="c21"><span class="c1"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Your use of this website or the provision and/or use of the services provided by The Joie Company Inc. will be
      subject to our terms and conditions.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">1. Terms of Use</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >THESE TERMS OF USE (&ldquo;TERMS&rdquo;) IS A LEGAL AGREEMENT BETWEEN YOU (EITHER AN INDIVIDUAL OR ENTITY)
      (&ldquo;YOU&rdquo; ,&ldquo;YOUR&rdquo; OR &ldquo;CUSTOMER&rdquo;) AND THE JOIE COMPANY INC. (HEREINAFTER
      &ldquo;COMPANY&rdquo;, &ldquo;WE&rdquo;, &ldquo;US&rdquo; OR &ldquo;OUR&rdquo;) THAT SETS FORTH THE LEGAL TERMS
      AND CONDITIONS FOR YOUR ACCESS TO AND USE OF </span
    ><span class="c2 c9">WWW.JOIE.CO</span
    ><span class="c2"
      >&nbsp;AND ANY OTHER WEBSITE OWNED AND OPERATED BY THE COMPANY (THE &ldquo;WEBSITE(S)&rdquo; OR
      &ldquo;SITE(S)&rdquo;) AND ANY COMPANY SOFTWARE, INCLUDING ANY COMPANY MOBILE APPLICATIONS (THE
      &ldquo;APP(S)&rdquo;) OR OTHER SERVICES OFFERED BY THE COMPANY FROM TIME TO TIME A (COLLECTIVELY, THE WEBSITE(S),
      APP(S) AND SERVICES ARE REFERRED TO AS &ldquo;SERVICE(S)&rdquo;). </span
    ><span class="c0">BY USING THE SITE OR SERVICES, YOU AGREE TO ABIDE BY THESE TERMS. </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Please read these Terms carefully and thoroughly. If you do not accept these Terms, you must not make a booking
      for any Services.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c2">2. </span><span class="c1">Privacy Policy Statement</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">Privacy Policy.</span><span class="c2">&nbsp;Please refer to our Privacy Policy </span
    ><span class="c2 c9">https://www...........com/privacy</span
    ><span class="c0"
      >&nbsp;- policy for more information on the manner in which the Company collects, uses, discloses and otherwise
      treats your personal information. The Privacy Policy is fully incorporated herein by reference.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c1">3. Eligible Use &amp; Account Creation</span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c2"
      >You confirm that you are of legal age to access and use the Site and/or the Services and of legal capacity to
      agree to these Terms. You are not eligible to use the Site or Services if you are under the age of 18.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2">For eligible booking, the customer must provide: </span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) Valid Credit Card;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b)
      Valid billing address; and, <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Valid email address for
      confirmation and terms &amp; conditions.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c13">Account Creation.</span
    ><span class="c2"
      >&nbsp;In order to access certain features of the Website and Apps and to use certain Services, you may be
      required to register to create an account (&ldquo;Account&rdquo;). In connection with setting up your Account with
      the Company, we may supply you with a user identification and/or password. In connection with any future use, you
      may be asked to input your user identification and/or password from time to time. You agree to be responsible for
      all activity that occurs under your Account and agree to be responsible for maintaining the security of your
      password and user identification. You agree to immediately notify the Company of any unauthorized use of your user
      identification or password or any other breach of security. You can delete your Account at any time, for any
      reason, by emailing the Company, at </span
    ><span class="c2 c9">support@joie.co</span><span class="c0">.</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">4. Prices &amp; Payment</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c2"
      >Prices will vary according to the type and duration of the Services as described on the Site. Full payment is due
      upon subscribing for any of the Services. Accepted payment methods are as described on the Site.<br
    /></span>
  </p>
  <p class="c6">
    <span class="c0"
      >By making a booking you agree to provide complete, correct and true information including billing and payment
      information.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0">Prices vary according to type and duration of the Services as described on the Site. </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">Where can I find the price?</span
    ><span class="c0"
      >&nbsp;We may charge fees in connection with your use of the Services. The price of the product will be the price
      indicated on the order pages when you place your order. We use our best efforts to ensure that the price advised
      to you is correct. However please see Section &ldquo;WHAT HAPPENS IF PRICE IS WRONG&rdquo; for what happens if we
      discover an error in the price of your order.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">What happens if the price is wrong? </span
    ><span class="c0"
      >It is always possible that, despite our best efforts, some of the Services may be incorrectly priced. We will
      normally check prices before accepting your order so that, where the correct price at your order date is less than
      our stated price at your order date, we will charge the lower amount. If the correct price at your order date is
      higher than the price stated to you, we will contact you for your instructions before we accept your order.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">When you must pay and how you must pay.</span
    ><span class="c2"
      >&nbsp;You agree to pay all charges incurred by you or any users of your Account and payment card (or other
      applicable payment mechanism) at the amounts in effect when such charges are incurred. Customers must provide the
      Company with a valid credit or debit card </span
    ><span class="c2 c9"
      >(Visa, MasterCard, or any other accepted issuer) or if applicable use Apple Pay, PayPal or any other payment or
      financial mechanism specified by the Company (&ldquo;Payment Provider&rdquo;)</span
    ><span class="c0"
      >&nbsp;as a condition to making any payments. The Customer&rsquo;s Payment Provider agreement governs its use of
      the designated credit or debit card or other mechanism, and the Customer should refer to that agreement and not
      this Agreement to determine its rights and liabilities. By providing the Company with your payment and/or
      financial information, you agree that the Company and any of its third party payment processors are authorized to
      immediately debit or credit your account for all applicable fees and charges and that no additional notice or
      consent is required. You agree to immediately notify the Company of any change in your payment and financial
      information. The Company reserves the right at any time to change its prices and billing methods. All information
      that you provide to us or our third party payment processors must be accurate, current and complete. You will also
      be responsible for paying any applicable taxes relating to payments that you make or that you receive.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">5. Customer Responsibilities</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >It is your responsibility to provide accurate information at time of booking. Failure to provide correct
      information may result in, without liability to us, a rejection of booking request, cancellation of booking or an
      inability of the booked professional to provide the Services as requested. Such failure may also result in loss or
      incorrect delivery of email confirmation of your booking.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >Once your booking is accepted and confirmed, you will receive a confirmation email of your appointment.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0">By making a booking, you are responsible for:</span>
  </p>
  <p class="c6">
    <span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) Full payment as applicable; and </span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) Having both read and understood the Company&#39;s informed
      consent for the Services;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6"><span class="c1">6. Cancellation &amp; Refunds</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c2"
      >You acknowledge that you do not have the right to cancel a Booking under statutory regulation. However, you are
      entitled to cancel Bookings in accordance with this clause.
    </span>
  </p>
  <p class="c6">
    <span class="c2"
      >If you change your mind about your Booking prior to the appointment time, then you may cancel your booking
      without making payment of the booking fee or any cancellation fee provided that you cancel the booking via
      Customer Support </span
    ><span class="c2 c9">[NTD: insert email here]</span><span class="c0">: </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) At least twenty four (24) hours prior to the start time of
      your booking; or
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) If you are making the booking within such twenty four (24)
      hour period, within ten (10) minutes of you having confirmed that you want to make the booking (&quot;Grace
      Period&quot;). </span
    ><span class="c2 c9">[NTD: Is this enough time? Maybe we stretch it to an hour?]</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0 c9"
      >If you cancel a booking within twenty-four (24) hours and two (2) hours prior to the start time of your booking,
      or, where relevant, after the Grace Period has elapsed, we will charge you 70% of the booking.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >If you cancel a booking within two (2) hours of the start time of your booking, or, where relevant, after Grace
      Period has elapsed, we will charge you 100% of the booking.
    </span>
  </p>
  <p class="c6">
    <span class="c0"
      >We charge a cancellation fee to compensate our service professionals because they will unlikely be able to make
      another booking where you cancel with short or no notice.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >The Company may waive our right to cancellation fees in our sole discretion where you have been unable to cancel
      a booking without incurring the cancellation fee for genuine reasons which were outside of your control.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">7. The Company is Only a Venue</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Our Site and Services act as a communications platform for enabling the connection between individuals seeking to
      obtain services and/or individuals seeking to provide such services. We interview and assess service professionals
      who wish to provide services, however, the Company does not guarantee or warrant, and makes no representations
      regarding, the reliability, quality or suitability of such service providers.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">8. Prohibited Use</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0">When you use the Services, you agree that you will not:</span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) Violate this Agreement or any of the Company rules regarding
      use of the Services;</span
    >
  </p>
  <p class="c6">
    <span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) Violate any law or regulation;</span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Breach any agreements you enter into with any third
      parties;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(d) Violate, infringe, or misappropriate other people&#39;s
      intellectual property, privacy, publicity, or other legal rights;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(e) Engage in any behavior that is abusive, harassing, indecent,
      profane, obscene, hateful or otherwise objectionable, including sexual misconduct;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(f) Stalk, harass, or harm another individual;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(g) For the purpose of misleading others, create a false identity
      of the sender or the origin of a message, forge headers or otherwise manipulate identifiers in order to disguise
      the origin of any material transmitted through the Services or in connection with the Company;
    </span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(h) Impersonate any person or entity or perform any other similar
      fraudulent activity;
    </span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Harvest or otherwise collect or store any information
      (including personally identifiable information) about other users of the Services, including e-mail addresses,
      without the express consent of such users or alter transmission data;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(j) Collect, distribute or gather personal or aggregate
      information, including Internet, e-mail or other electronic addresses, about the Company&rsquo;s customers or
      other users;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(k) Upload, post, e-mail or otherwise transmit any material that
      constitutes unsolicited or unauthorized advertising, promotional materials, &quot;junk mail&quot;,
      &quot;spam&quot;, &quot;chain letters&quot;, &quot;pyramid schemes&quot; or any other form of solicitation or
      commercial electronic message;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(l) Use any means to scrape or crawl any Web pages or Content
      contained in the Websites or Apps (although the Company may allow operators of public search engines to use
      spiders to index materials from the Websites for the sole purpose of creating publicly available searchable
      indices of the materials, and the Company reserves the right to revoke these exceptions either generally or in
      specific cases;</span
    >
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(m) Attempt to circumvent any technological measure implemented
      by the Company or any of the Company&#39;s providers or any other third party (including another user) to protect
      the Website or Apps; to the extent permitted by applicable law, attempt to decipher, decompile, disassemble, or
      reverse engineer any of the software used to provide the Websites or Apps; and/or,
    </span>
  </p>
  <p class="c6">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(n) Advocate, encourage, or assist any third party in doing any
      of the foregoing.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">9. Testimonials</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c17">
    <span class="c0"
      >If you submit a testimonial to us using our testimonial form on our Website, then you agree that the Company may
      publish your testimonial, together with your name and any logo that you may upload using the form, on the Website,
      on such page and in such position as the Company may determine in its sole discretion.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c17">
    <span class="c0"
      >You further agree that the Company may edit your testimonial and publish edited or partial versions of the
      testimonial. However, the Company will never edit a testimonial in such a way as to create a misleading impression
      of your views.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6"><span class="c2 c13">10</span><span class="c1">. Intellectual Property</span></p>
  <p class="c10"><span class="c0"></span></p>
  <p class="c24">
    <span class="c0"
      >This Site is owned, controlled and operated by the Company. All material on this Site, including, but not limited
      to images, text, illustrations, photographic images, web pages, trade-marks, logos and trade names, audio clips
      and video clips, (collectively the &ldquo;Content&rdquo;), including the manner in which the Content is presented
      or appears and all information relating thereto is protected by copyrights, moral rights, and other laws relating
      to property rights which are owned and controlled by the Company or by other parties that have licensed their
      material to us.
    </span>
  </p>
  <p class="c15">
    <span class="c0"
      >The Company, the Company logo, brand and all other trademarks, service marks, graphics and logos used in
      connection with the Site or the Services are our trademarks, registered or unregistered, protected by intellectual
      property law. No marks may be copied, imitated or used, in whole or in part, without our express prior written
      consent. All rights are reserved.
    </span>
  </p>
  <p class="c6"><span class="c1">11. Disclaimer</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0">We facilitate booking of the Services only. We are </span><span class="c1">not</span
    ><span class="c0"
      >&nbsp;liable or responsible for fulfillment of any booking or performance of the service providers.
    </span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >Nothing contained on the Site or communicated via the Services constitutes, or is meant to constitute, advice of
      any kind. We are not a health care provider nor do we provide medical advice,medical treatment or therapuetic
      treatment. References in the Site and via the Services to &ldquo;treatment&rdquo; and &ldquo;therapy&rdquo; do not
      refer to medical treatment or medical therapy. The information presented on the Site and via the Services is not
      intended to diagnose health problems or to take the place of professional medical care. Should you have a medical
      issue you should always consult with a qualified medical professional.
    </span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >We make no guarantee that the Site or Services is suitable for your intended use, error-free, timely, reliable,
      entirely secure, virus-free or available. We make no guarantee of particular results or outcomes by use of the
      Site or Services.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6"><span class="c1">12. Limitation of Liability</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >By using the Site or Service, you agree to hold the Company free from liability or responsibility for any damage
      that might arise out of the transaction between </span
    ><span class="c0 c9">you and any service providers or i</span><span class="c2 c9">nstructors</span
    ><span class="c0"
      >. THE COMPANY SHALL NOT BE RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SITE OR
      SERVICES OR ANY SERVICE PROVIDER</span
    ><span class="c2">&nbsp;OR </span
    ><span class="c0"
      >&nbsp;INSTRUCTOR. THE COMPANY SHALL NOT BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH YOUR
      USE OF THE SITE OR SERVICES.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >We are not liable or responsible for any errors in or failure to provide Services due to your error or failure to
      provide accurate and complete information. We do our best to keep disruptions to a minimum, however we may
      temporarily suspend the Site and Services from time to time. This may be due to maintenance, other administrative
      purposes or circumstances which are beyond our control including but not limited to Acts of God, natural
      disasters, power failure, failure of any telecommunications or other data transmission system. We shall not be
      liable in these circumstances.
    </span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >To the maximum extent permitted by law, our liability shall be limited to the amount of fees paid by you for a
      particular service requested. USE OF THIS SITE AND SERVICES IS ON AN &ldquo;AS-IS&rdquo; AND &ldquo;AS
      AVAILABLE&rdquo; BASIS. IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL,
      CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, LOSS OF
      DATA, LOST REVENUES, LOSS OF GOODWILL, LOSS OF ANTICIPATED SAVING OR PROFITS, OR ARISING OUT OF OR IN ANY WAY
      CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE OR SERVICES, OR WITH THE DELAY OR INABILITY TO USE THE SITE OR
      SERVICES, OR WITH THE PROVISION OF OR FAILURE TO PROVIDE THE SITE OR SERVICES.
    </span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >Nothing in these Terms will exclude or limit any warranty implied by law that it would be unlawful to exclude or
      limit; and nothing in these Terms will exclude or limit our liability in respect of any: death or personal injury
      caused by the negligence of the Company, fraud or fraudulent misrepresentation by the Company, or any matter which
      it would be illegal or unlawful for the Company to exclude or limit, or to attempt or purport to exclude or limit,
      its liability.
    </span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6"><span class="c1">13. Indemnity</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >You agree to defend and indemnify us from and against any claims, causes of action, demands, recoveries, losses,
      damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable
      legal and accounting fees, that arise from or relate to your use or misuse of, or access to the Site and/or
      Service or otherwise from your violation of these Terms.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c1">14. Modification &amp; Termination</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >We may modify these Terms including fees and charges for Services or terminate use of the Site or Services at any
      time by giving notice of termination to you. We may also change, suspend, terminate or discontinue any aspect of
      the Site or Services including availability of certain features at any time for any reason.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">Your right to cancel.</span
    ><span class="c0"
      >&nbsp;You may cancel your Account at any time by contacting us at the contact information set out in ACCOUNT
      CREATION. Please note that if your Account is cancelled, we do not have any obligation to delete or return to you
      any of Your Materials that you have posted to the Services, including, but not limited to, any reviews or
      Feedback.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c8">Our right to cancel.</span
    ><span class="c0"
      >&nbsp;If we terminate this Agreement and/or your access to the Services as a result of your violation of any
      applicable law or regulation, we may also, at our sole discretion, inform law enforcement or regulatory
      authorities of the circumstances surrounding such termination.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6"><span class="c1">15. Severability</span></p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >If any provisions of these Terms are deemed or become invalid, the validity of the other provisions shall not be
      affected.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6"><span class="c1">16. Anti-Spam</span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >The Company prohibits the sending of unsolicited email or text messages (spam) or other communications that
      violate applicable privacy and anti-spam legislation. Spam is defined for this purpose as sending any message that
      encourages participation in a commercial activity or multiple messages similar in content to any person(s),
      entity(ies), newsgroup(s), forum(s), email list(s), or other group(s), individual(s) or list(s) unless prior
      authorization has been obtained from the recipient or unless a business or personal relationship has already been
      established with the recipient in accordance with the requirements under applicable law. The Company also
      prohibits using false headers in emails or falsifying, forging or altering the origin of any email or text message
      in connection with the Company, and/or any products and Services. The Company prohibits engaging in any of the
      foregoing activities by using the service of another provider, remailer service, or otherwise. IF YOU OR ANYONE
      YOU KNOW IS &ldquo;SPAMMED&rdquo; BY SOMEONE IN RELATION TO THE COMPANY&rsquo;S SERVICES, PLEASE CONTACT US
      PROMPTLY VIA THE </span
    ><span class="c7 c5"
      >CONTACT MECHANISM MADE AVAILABLE VIA THE WEBSITE SO THAT WE MAY TAKE APPROPRIATE ACTION.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c1">17. Governing Law &amp; Jurisdiction</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >You agree that these Terms for all purposes, shall be governed by and construed in accordance with Canadian law.
      You also agree, subject to the following clause, to submit to the </span
    ><span class="c2">non exclusive</span
    ><span class="c0"
      >&nbsp;jurisdiction of the Canadian courts as regards any claim or matter arising under these Terms.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0">Please email</span><span class="c0">&nbsp;</span><span class="c0">support@</span
    ><span class="c2">joie</span><span class="c0">.c</span><span class="c2">o</span><span class="c0">&nbsp;[NTD:</span
    ><span class="c0">for any other enquiries. </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c10"><span class="c7 c5"></span></p>
  <p class="c16">
    <span class="c7 c5">The Joie Company Inc.: Privacy Policy</span>
  </p>
  <p class="c16">
    <span class="c7 c5">Details of Our Privacy Policy</span>
  </p>
  <p class="c6">
    <span class="c1">1. Introduction, Definitions, Modifications and Acceptance</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Welcome to The Joie Company Inc.&rsquo;s (&ldquo;Company&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo;,
      &ldquo;our&rdquo;) website. We are confident that you will find our products and services useful. This Privacy
      Policy (the &quot;Policy&quot;) covers several different situations, so please refer to the following definitions
      for clarification:</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c4">
    <span class="c0"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Services&quot; are the services offered on our website that
      allow users to access and engage the services of our service providers.</span
    >
  </p>
  <p class="c4"><span class="c0">&nbsp;</span></p>
  <p class="c6" id="h.gjdgxs">
    <span class="c2"
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Website&quot; is the website located at </span
    ><span class="c2 c9">http://joie.co</span
    ><span class="c0"
      >&nbsp;which is owned and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;operated by the Company and includes all
      subdomains, present and future.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Additional definitions shall be made throughout this Policy, but they will be recognizable as they will be
      capitalized, bolded, and in quotation marks.</span
    >
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >By visiting the Website, using the Services on the Website, you agree to be bound by the terms of the Policy. By
      submitting Personal Information to us or on or through the Website or via other means, you consent to the
      Company&rsquo;s collection, use and disclosure of such Personal Information (as that term is defined herein below)
      in accordance with this Policy (as amended from time to time) and as permitted or required by law. If you do not
      agree to all the provisions contained in the Policy, you are not authorized to use the Website or Services.
    </span>
  </p>
  <p class="c18"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >The Company reserves the right, at any time and without prior notice, to modify or replace any of the Policy. Any
      changes to the Policy can be found at this </span
    ><span class="c2 c9">URL</span
    ><span class="c0"
      >. It is your responsibility to check the Policy periodically for changes. Your use of the Website and / or the
      Services following the posting of any changes to the Policy constitutes acceptance of those changes. If there are
      any significant changes to the Policy that materially affect the way we treat your information, you will be
      notified upon logging-in to the Services or via email.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >If you have any questions about the Policy or if you wish to inquire about and/or access any Personal Information
      the Company holds about you, please contact: support@joie.co</span
    >
  </p>
  <p class="c6">
    <span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c1">2. General Statement of Privacy and Protection of Personal Information</span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c0"
      >The Company takes your privacy and security of Personal Information very seriously. We have provided and will
      continue to provide a secure environment and this strict Policy that describes the limited ways the information is
      used and the limited access to such information.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c1">3. What Does This Privacy Policy Cover?</span>
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c6">
    <span class="c2">This Policy covers the treatment of personally identifiable information (&ldquo;</span
    ><span class="c5">Personal Information</span
    ><span class="c2"
      >&rdquo;) and other information gathered by us when you are using or accessing the Website or using the Services.
      This Policy also covers the Company&rsquo;s treatment of any Personal Information that the Company may share with
      its business partners or other third parties under very limited circumstances.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >This Policy does not apply to the general practices and treatment of information (whether personal or not) by
      third parties that the Company does not own or control, including but not limited to any third party websites or
      services that you elect to access through the Website or Services or via a link from the Website or Services
      (&ldquo;</span
    ><span class="c5">Third Party Website</span
    ><span class="c0"
      >&rdquo;), or to individuals that the Company does not manage or employ. While we attempt to facilitate access or
      link only to those Third Party Websites that share our respect for your privacy, we cannot take responsibility for
      the content or privacy policies of those Third Party Websites. We encourage you to carefully review the privacy
      policies of any Third Party Website you access. We have named and provided links to some of the most important of
      these Third Party Websites further in this Policy.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Finally, this Policy does not cover any Personal Information you send to the Company via any non-secured,
      non-encrypted mode of communications such as email, instant messenger or other messaging service, or Twitter or
      any other social media, as communications via these methods may be subject to interception, loss, or alteration.
      While we welcome your comments and suggestions sent to us in this manner, we encourage you to carefully examine
      what Personal Information you send to the Company via these methods.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">4. No Collection of Personal Information as a Matter of Course </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >The Company does not, as a matter of course, gather any of your Personal Information while you are using the
      Website or Services, unless you are asked to provide such information, for example by signing up for an account.
      Personal Information is only gathered with your informed consent. Where you have provided Personal Information, it
      will only be used for the stated purpose, as detailed more specifically in the next section.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">5. Personal Information Collected and Its Uses </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c2"
      >The following is an exhaustive list of Personal Information collected from you when you use the Website or
      Services and what we use it for. You acknowledge that you are submitting this Personal Information with your
      informed consent.
    </span>
  </p>
  <ul class="c11 lst-kix_list_5-0 start">
    <li class="c6 c12">
      <span class="c2 c13">Location:</span
      ><span class="c0">&nbsp;To the extent either your location can be considered Personal </span>
    </li>
    <li class="c6 c12">
      <span class="c0"
        >Information, your location is required to use the Services. Your location is collected through location
        services on your Device or via location services in your web browser. We use your location to help match our
        service providers and customers based on geographic criteria.
      </span>
    </li>
    <li class="c6 c12">
      <span class="c2 c13">&ldquo;Billing Information&rdquo;:</span
      ><span class="c2"
        >&nbsp;If you are a customer booking Services, you will be required to enter the following information in order
        to pay the Booking Fee: your credit card number, credit card expiry date, and security (CVC) number. You may
        optionally submit your mobile phone number if you wish to re-use this same credit card information at a future
        date, </span
      ><span class="c2 c9">using the &ldquo;Remember Me&rdquo; option</span><span class="c2">. </span
      ><span class="c0 c9"
        >Billing Information is only used to process the credit card transaction for your payment of Booking Fees, and
        to facilitate repeat payments if you choose the &ldquo;Remember Me&rdquo; option. For more details on the
        treatment of your Billing Information, please see the Secured Payments section further below in this Policy.
      </span>
    </li>
  </ul>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">6. Security and Encryption of Information </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >The Company uses only industry best practices (physical, electronic and procedural) in keeping any data collected
      (including Personal Information) secure. In addition, the Company uses third-party vendors and hosting partners to
      provide the necessary hardware, software, networking, storage, and related technology required to run the Website
      and the Services, and these third parties have been selected for their high standards of security, both electronic
      and physical]</span
    >
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">7. Non-disclosure of Personal Information to Third Parties </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2">Except as provided in the next paragraph and the next sections in this Policy entitled </span
    ><span class="c2 c8">Secured Payments and Email Communications</span
    ><span class="c0"
      >, the Company does not divulge any Personal Information gathered via the Website or Services to third parties.
      Moreover, the Company does not sell, rent, trade or license any Personal Information regarding its users to third
      parties. Only the employees, representatives, subcontractors, officers, agents, or assigns of the Company are
      responsible for the management and development of the Website, and only these individuals have access to the
      information collected there. These employees, representatives, subcontractors, officers, agents or assigns all
      have been instructed to comply with the Policy.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Notwithstanding anything in the Policy to the contrary, we may share any information we have collected about you
      or that you have submitted (whether Personal Information or not): (1) in response to subpoenas, court orders, or
      legal process, or to establish, protect, or exercise our legal rights or defend against legal claims or demands;
      (2) if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities,
      fraud, or situations involving potential threats to the safety of any person, or any violation of the Terms of
      Use; (3) if we believe it is necessary to investigate, prevent, or take action regarding situations that involve
      abuse of the Website or Services infrastructure or the Internet in general (such as voluminous spamming, denial of
      service attacks, or attempts to compromise the security of the Website or Services infrastructure or the Website
      or Services generally); (4) to a parent company, subsidiaries, joint ventures, or other companies under common
      control with the Company (in which case we will require such entities to honor this Policy); (5) if the Company
      merges with another entity, is subject to a corporate reorganization, sells or transfers all or part of its
      business, assets or shares (in which case we will require such entity to assume our obligations under this Policy,
      or inform you that you are covered by a new privacy policy).
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">8. Email Communications, Compliance with Anti-Spam Laws, and Notifications </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2 c9">The Company uses Gmail, Hubspot to send out emails and perform Company surveys.</span
    ><span class="c2 c9">Your Personal Information is only used for the proper sending out of email.</span>
  </p>
  <p class="c6">
    <span class="c0"
      >The Company&rsquo;s practices with regards to its email practices are designed to be compliant with anti-spam
      laws, specifically the law unofficially called &ldquo;CASL&rdquo;, or Canada&rsquo;s Anti-Spam Law. If you believe
      you have received email in violation of this law, please contact us using the contact information further up in
      this Policy.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">9. Limited Gathering of Information for Statistical, Analytical and Security Purposes </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >The Company automatically collects certain information using third-party analytics programs, such as </span
    ><span class="c2 c13 c20"
      ><a
        class="c25"
        href="https://www.google.com/url?q=http://www.google.com/analytics/&amp;sa=D&amp;ust=1605039580835000&amp;usg=AOvVaw0v9LLx9rSWz62PKR23bXHr"
        >Google Analytics</a
      ></span
    ><span class="c2"
      >, Hubspot, Stripe or Kultura, to help us understand how our users use the Website and Services, but none of this
      information identifies you personally. For example, each time you visit the Website or use the Services, we
      automatically collect (as applicable) your IP address, browser and computer type, access times, the web page from
      which you came, and the web page(s) you access. We use information collected in this manner only to better
      understand your needs and the needs of the Website or Services users in the aggregate. The Company also makes use
      of information gathered for statistical purposes to keep track of the number of visits to the Website, the
      specific pages on the Website, and users of the Services with a view to introducing improvements to the Website
      and Application.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Your IP address and other relevant information may be used in order to trace any fraudulent or criminal activity,
      or any activity in violation of the Terms of Use.
    </span>
  </p>
  <p class="c3"><span class="c5 c7"></span></p>
  <p class="c6">
    <span class="c1">10. General Information Transfer from the Services </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Any information (personal or not) the Services collect while you use them may be stored locally on your Device or
      computer and then transferred to servers controlled by the Company, and the Company may obtain this information as
      a result of the data being sent to our servers from the Services. The information, however, is only used (or not
      used) by the Company as described elsewhere in this Policy.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">11. Verification, Correction and Deletion of Personal Information </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >You have the right to: (i) verify what Personal Information the Company holds about you; (ii) ask for your
      Personal Information to be corrected or updated; and (iii) to withdraw your consent to the use by the Company of
      your Personal Information and have it deleted from our records. If you wish to inquire about and verify and / or
      correct Personal Information the Company holds about you, or if you wish to have all your Personal Information
      permanently deleted from our records, please contact us using the contact information further up in this Policy.
      Please note that deletion of your Personal Information may make it impossible for you to use the Website, the
      Services, or certain portions thereof. If you request deletion of your Personal Information, the Company reserves
      the right to retain some of your Personal Information for a reasonable time in order to satisfy our legal
      obligations or under a legal procedure of any sort.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">12. Tracking Technology (&ldquo;Cookies&rdquo;) and Related Technologies; Opting Out </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c0"
      >The Company uses tracking technology (&ldquo;cookies&rdquo;) and related technologies on the Website and by using
      the Website or Services you agree to their use. Cookies are small text files placed on your hard drive or memory
      when you visit a website or use an Application, in order to track use and to improve the user experience by
      storing certain data on your computer or Device. The Website and Services uses &ldquo;session cookies,&rdquo;
      which improve your user experience by storing certain information from your current visit on your computer.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Specifically, we use the following cookies and related technologies to perform the following functions:
    </span>
  </p>
  <ul class="c11 lst-kix_list_6-0 start">
    <li class="c6 c12">
      <span class="c0"
        >Authentication cookies for the the Company Services on the Website to facilitate signing in;
      </span>
    </li>
    <li class="c6 c12">
      <span class="c0"
        >Google Analytics cookie to provide general internal and user analytics and to assist in identifying possible
        fraudulent activities;
      </span>
    </li>
    <li class="c6 c12">
      <span class="c2">Google AdWords tag for </span
      ><span class="c2 c13 c20"
        ><a
          class="c25"
          href="https://www.google.com/url?q=https://support.google.com/adwords/answer/1722022?hl%3Den&amp;sa=D&amp;ust=1605039580837000&amp;usg=AOvVaw0MUKu7kCPfZr6RRQ_rIOXi"
          >conversion tracking</a
        ></span
      ><span class="c0">; </span>
    </li>
  </ul>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >Your browser or Device can be set to refuse cookies or delete them after they have been stored. Please refer to
      your browser or Device&rsquo;s help section for instructions. Please note that deleting or refusing these cookies
      may reduce your user experience by requiring you to re-enter certain information, including information required
      to use the Services. Furthermore, as we use authentication cookies, deleting those cookies may prevent certain
      functions, including the entirety of the Services, from working at all. The Company and its representatives shall
      not be held responsible for any function that may not operate after you refuse or delete cookies, or any losses or
      damages arising from those functions not operating, or having reduced functionality.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">13. Risks Associated with the Internet and Wireless Data Transmission </span>
  </p>
  <p class="c6">
    <span class="c0"
      >Despite the Company&rsquo;s best efforts to ensure that third parties will not access or obtain your Personal
      Information through your use of the Website or Services, complete confidentiality and security cannot currently be
      guaranteed on the Internet and / or where data is transferred via digital technology of any type. Communication
      via the Internet is subject to interception, loss, or alteration. You acknowledge and agree that the Company and
      its representatives cannot be held responsible for damages resulting from the transmission of confidential
      information or Personal Information over the Internet and that such communications are at your own risk.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6"><span class="c1">14. Limitation of Liability </span></p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c0"
      >The Company, and/or its representatives, will not be held liable for any losses or damages (pecuniary or
      otherwise) resulting from the misuse of any information collected by any third party, or any misuse of any
      information collected through the Website or Services not in violation of the Policy.
    </span>
  </p>
  <p class="c3"><span class="c7 c5"></span></p>
  <p class="c6">
    <span class="c1">15. Compliance with Privacy Laws </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <p class="c6">
    <span class="c2"
      >This Policy and the Company&rsquo;s practices in general are designed to be in compliance with Canada&rsquo;s </span
    ><span class="c2 c8">Personal Information Protection and Electronic Documents Act</span
    ><span class="c2">&nbsp;(&ldquo;PIPEDA&rdquo;, S.C. 2000, c. 5) and Quebec&rsquo;s </span
    ><span class="c2 c8">An Act Respecting the Protection Of Personal Information in the Private Sector</span
    ><span class="c0"
      >&nbsp;(R.S.Q. c. P-39.1). If you have any questions regarding this compliance, please contact us using the
      contact information further up in this Policy.
    </span>
  </p>
  <p class="c3"><span class="c0"></span></p>
  <div>
    <p class="c19"><span class="c7 c23"></span></p>
    <p class="c3"><span class="c7 c14"></span></p>
  </div>
</div>
