<ng-container [formGroup]="form">
  <app-form-array-table [values]="timeSlotValues" (remove)="removeTimeSlot($event)">
    <label id="timeslots-label" slot="label"
      >Available time slots (please add a few available timeslots)</label
    >
    <app-recurring-date-time-picker
      #timeSlotForm
      (submission)="addTimeSlot($event)"
    ></app-recurring-date-time-picker>

    <button
      type="button"
      mat-icon-button
      slot="suffix"
      color="primary"
      (click)="timeSlotForm.onSubmit()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </app-form-array-table>
</ng-container>
