<h3>Your market</h3>
<p>
  What's your niche, the area you focus on in your sessions?
</p>
<form [formGroup]="formGroup">
  <label formArrayName="sessionTypesCtrl"
         *ngFor="let sessionType of sessionTypesFormArray.value; let i = index">
    <mat-checkbox (change)="handleCheck(entry(sessionType)[0], entry(sessionType)[1], i)"
                  [formControlName]="i">{{
      entry(sessionType)[0]
    }}</mat-checkbox>
  </label>

  <mat-form-field appearance="outline">
    <textarea matInput
              formControlName="teachingPortfolioUrlCtrl"
              required></textarea>
  </mat-form-field>

  <button mat-button
          matStepperNext>
    Next
  </button>
</form>
