@use "theming-proxy" as *;
@use 'theme';
@use "sass:map";

$background-map: map.get(theme.$joie-theme, background);
$foreground-map: map.get(theme.$joie-theme, foreground);
$primary-map: map.get(theme.$joie-theme, primary);

:root {
  --joie-color-background: #{mat-color($background-map, background)};
  --joie-color-foreground: #{mat-color($foreground-map, text)};
  --joie-color-primary: #{mat-color($primary-map, text)};
  --joie-color-divider: #{mat-color($foreground-map, divider)};
}

body {
  background-color: var(--joie-color-background);
  color: var(--joie-color-foreground);
}

hr {
  border-color: var(--joie-color-divider);
  border-width: 1px 0 0;
  border-style: solid;
}
