@use "~@angular/material/theming" as *;
@forward "font" show $light, $normal;

$joie-typography: mat-typography-config(
  $font-family: unquote("Montserrat,") $system-fonts,
  // $display-4:
  //   mat-typography-level(112px, 112px, $normal, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 0.95, $normal),
  // $display-2:
  //   mat-typography-level(45px, 48px, $normal, $letter-spacing: -0.005em),
  // $display-1: mat-typography-level(34px, 40px, $normal),

  $headline: mat-typography-level(80px, 1.225, $light),
  $title: mat-typography-level(50px, 1.22, $light),
  $subheading-2: mat-typography-level(40px, 1.225, $normal),
  $subheading-1: mat-typography-level(22px, 1, $normal),
  $body-2: mat-typography-level(144px, 24px, $normal),
  $body-1: mat-typography-level(16px, 1.625, $normal),
  $caption: mat-typography-level(12px, 1.25, $normal),
  $button: mat-typography-level(14px, 14px, $normal),
  $input: mat-typography-level(inherit, 1.125, $normal),
);

@include mat-base-typography($joie-typography);
