@charset "UTF-8";

@import "~normalize.css/normalize.css";
@import "font";
@import "typography";
@import "core";

.box {
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-muted-lt {
  opacity: 0.1;
}

.text-muted {
  opacity: 0.3;
}

.text-muted-dk {
  opacity: 0.7;
}

.text-dark {
  color: #000;
}

.text-mild {
  color: #777;
}

.text-light {
  color: #aaa;
}

.no-wrap {
  white-space: nowrap;
}

.text-xs {
  font-size: 0.6em;
}

.text-sm {
  font-size: 0.8em;
}

.text-md {
  font-size: 1em;
}

.text-lg {
  font-size: 1.2em;
}

.text-xl {
  font-size: 2em;
  line-height: 1.2;
}

.text-xxl {
  font-size: 2.8em;
  line-height: 1;
}

.text-xxxl {
  font-size: 3.6em;
  line-height: 1;
}

.font-thin {
  font-weight: 300 !important;
}

.font-light {
  font-weight: 400 !important;
}

.font-normal {
  font-weight: 500 !important;
}

.font-thick {
  font-weight: 600 !important;
}

.p {
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .p {
    padding: 10px;
  }
}
