<div class="container">
  <h4>
    Create a session
  </h4>
  <a
    [routerLink]="[
      {
        outlets: {
          popup: null
        }
      }
    ]"
    >try</a
  >
  <div class="layout-grid layout-spacing-block-sm">
    <div
      class="layout-grid layout-grid-inline-features layout-spacing-inline-md layout-spacing-block-md"
    >
      <mat-form-field appearance="outline">
        <mat-label>Format</mat-label>
        <select matNativeControl required>
          <option value="on-demand">On Demand</option>
          <option value="streaming">Streaming</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <select matNativeControl required>
          <option value="class">Class</option>
          <option value="workshop">Workshop</option>
          <option value="course">Course</option>
          <option value="lecture">Lecture</option>
          <option value="coaching">1:1 Coaching</option>
        </select>
      </mat-form-field>
    </div>

    <!-- ! always show this -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="e.g. Best session" required />
    </mat-form-field>

    <!-- ! show only when type/format chosen -->
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="e.g. Best session"></textarea>
    </mat-form-field>

    <button mat-button color="primary">Show all fields</button>

    <!--

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input
        matInput
        placeholder="last name"
        formControlName="lastNameCtrl"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="email"
        formControlName="emailCtrl"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input
        matInput
        placeholder="phone number"
        formControlName="phoneNumberCtrl"
        required
      />
    </mat-form-field> -->

    <!-- <button
      mat-flat-button
      color="primary"
      [disabled]="formGroup.invalid"
    >
      Next
    </button> -->
  </div>
</div>
