<mat-card>
  <app-icon class="joie-icon joie-icon-backdrop"
            [name]="pillar| lowercase"></app-icon>
  <h4 [innerHTML]="pillar"></h4>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-chip-list [formArrayName]="pillar"
                     multiple>
        <label *ngFor="let activity of activitiesLiteralsMap | keyvalue ; let i = index">
          <mat-chip #chip="matChip"
                    class="mat-elevation-z1"
                    [selectable]="true"
                    [selected]="form.value[pillar][i]"
                    (click)="chip.selected = !chip.selected; handleSelect(i, chip.selected)">
            {{ activity.value | titlecase}}
          </mat-chip>
        </label>
      </mat-chip-list>
    </mat-form-field>
  </form>
</mat-card>
