<p>
  Joie is looking for passionate teachers, experts and coaches who believe in
  our philosophy, and interested in growing together. Fill out this form to help
  us learn more about you.
</p>
<h3>Personal Information</h3>
<form [formGroup]="formGroup" (ngSubmit)="collectPersonalInfo(formGroup.value)">
  <input placeholder="first name" formControlName="firstNameCtrl" required />
  <input placeholder="last name" formControlName="lastNameCtrl" required />
  <input placeholder="email" formControlName="emailCtrl" required />
  <input
    placeholder="phone number"
    formControlName="phoneNumberCtrl"
    required
  />
  <button mat-button matStepperNext type="submit">
    Next
  </button>
</form>
