div.box-with-badge {
  border: 1px solid lightblue;
  border-radius: 10px;
  height: 250px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.layout-grid {
  justify-content: center;
}
label {
  color: lightseagreen;
}
